<%# Meta data about the page %>
<% title 'Health Professionals' %>
<% meta_tag :description, 'Calling all licensed health professionals. Grow your reach and sales with WeFit Health Professional.' %>
<%# Page content %>
<div class="professional-top">
	<h2 class="text-center big-text">Grow your reach and sales with WeFit Health Professional!</h1>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 rounded shadow-sm">
      <div class="card-header rounded shadow-sm">
        <h4 class="my-0 font-weight-normal">Standard</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$19.99<small class="text-muted">/month</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>-Interact with up to 20 users per month</li>
          <li>-25 mile radius</li>
        </ul>
        <a class="btn btn-green btn-lg w-50 mt-4" href="professionals/new/standard">Register</a>
      </div>
    </div>

    <div class="card mb-4 shadow-sm rounded ">
      <div class="card-header rounded shadow-sm">
        <h4 class="my-0 font-weight-normal">Plus</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29.99<small class="text-muted">/month</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>-Interact with an unlimited number of users</li>
          <li>-Rank higher on the professionals page</li>
          <li>-50 mile radius</li>
        <a class="btn btn-green btn-lg w-50 mt-4" href="professionals/new/plus">Register</a>
      </div>
    </div>
</div>

<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>
