<div class="professional-top">
<<<<<<< HEAD
		<h2 class = "col-8 px-5 py-5 mx-auto text-center boarder">Grow your reach and sales with WeFit Health Professional!</h1>
	</div>

	

	<div class="col-8 px-5 py-5 mx-auto my-auto bg-light rounded-big shadow boarder" style="min-width: 350px">

=======
	<h2 class = "col-8 px-5 py-5 mx-auto text-center">Grow your reach and sales with WeFit Health Professional!</h1>
</div>
<div class="col-8 px-5 py-5 mx-auto my-auto bg-light border rounded-big shadow" style="min-width: 350px">
>>>>>>> d97afd4b014812083c6473e9f5fd40291d4c322d
		<div class="row">
			<div class="col-md-6 px-5 mx-auto">
				<h2 class="text-center"><font color="black">Standard</font></h2>
				<h2 class="text-center">$19.99/month</h2>
				<li class="text-center">Interact with up to 20 users per month</li>
				<li class="text-center">25 mile radius</li>
					<div class="py-4 text-center">
						<button class="btn btn-green btn-lg w-50 "  href="#" data-toggle="modal" data-target="#registerModal">Register</button>
			</div>

		</div>

<<<<<<< HEAD

                                    
  <div class="col-md-6 px-5 mx-auto boarder-left">
=======
		<div class="col-md-6 px-5 mx-auto border-left">
>>>>>>> d97afd4b014812083c6473e9f5fd40291d4c322d
			<h2 class="text-center"><font color="black"><b>Plus</font></h2>
			<h2 class="text-center">$29.99/month</h2>
			<li class="text-center">Interact with an unlimited number of users</li>
			<li class="text-center">Rank higher on the professionals page</li>
			<li class="text-center">50 mile radius</li>
			<div class="professionals-register-plus">
					<div class="py-1 text-center">
						<%= link_to "Register", root_path, class: "btn btn-green btn-lg w-50 ", role: "button" %>
					</div>	
				</div>
		</b>
		</div>
	</div>




	<h5 class= "mx-auto col-10 px-100 py-3 text-center">Get your first month completely FREE when you sign up before WeFit's launch</h1>
</div>		

 

<!-- Register modal -->
<div class="modal" tabindex="-1" role="dialog" id="registerModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Register</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>Register form goes here</p>
          </div>
        </div>
      </div>
    </div>

<div class="circles">
	<div class="bg-circle bg-circle-1"></div>
	<div class="bg-circle bg-circle-2"></div>
	<div class="bg-circle bg-circle-3"></div>

	<div class="bg-circle bg-circle-4"></div>
	<div class="bg-circle bg-circle-5"></div>

	<div class="bg-circle bg-circle-6"></div>
	<div class="bg-circle bg-circle-7"></div>
</div>

