<!-- <section>
  <div class="container">
    <h3 class="text-center">Welcome to the Social Network for Health</h3>
  </div>
  <div class="container">
    <p>Hi <b><%= @user.first_name %> <%= @user.last_name %></b>,</p>
    <p>Thank you so much for joining our community! Please verify your email below for security purposes and to reset your password if necessary.</p>
    <div class="btn-container"><%#= link_to "Verify Email", edit_activation_url(@user.activation_token, email: @user.email), class: 'btn' %></div>
    <p>Now that you're officially a member of WeFit (Woohoo!), it's time to invite your friends and start conquering your health journey together, as a community.</p>
    <div class="btn-container"><%#= link_to "Invite Friends", '#', class: 'btn' %></div>
  </div>
</section> -->

  <!DOCTYPE html>
<html lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Welcome to WeFit</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
      <style type="text/css">
      body   {background-color: #E5E5E5; margin:0; padding:0; -webkit-font-smoothing: antialiased;font-family: 'SFProText';padding:0 15px;}
      table {border-collapse: collapse;}  
      @font-face {
        font-family: 'SFProText';
        src: url('fonts/SFProText-Regular.woff2') format('woff2'),
            url('fonts/SFProText-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      @font-face {
        font-family: 'SFProText-Medium';
        src: url('fonts/SFProText-Medium.woff2') format('woff2'),
            url('fonts/SFProText-Medium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      @media(max-width: 768px){
        .mobile{display: inline-block !important;}
        .desktop{display: none !important;}
      }
    </style>
   </head>
   <body>
      <div class="wrapper" style="background-color: #fff;padding:0;max-width: 375px;margin: 20px auto;border-radius:25px;overflow:hidden;padding:15px;">
    <div style="background-color: #FF0800;padding:25px; margin:0; display: block;border-radius:20px;">
      <div class="logo" style="text-align: center;">
        <svg width="80" height="43" viewBox="0 0 80 43" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="26.7471" y="39.0054" width="23.0056" height="6.11274" rx="3.05637" transform="rotate(-72.5139 26.7471 39.0054)" fill="white"/>
        <rect x="8.90918" y="39.0288" width="35.4516" height="6.07035" rx="3.03517" transform="rotate(-72.5139 8.90918 39.0288)" fill="white"/>
        <rect width="35.4987" height="6.0314" rx="3.0157" transform="matrix(-0.302764 -0.953066 -0.953066 0.302764 16.4961 38.9897)" fill="white"/>
        <rect width="35.5349" height="6.08371" rx="3.04186" transform="matrix(-0.302764 -0.953066 -0.953066 0.302764 34.3438 39.0054)" fill="white"/>
        <path d="M76.1784 4.18068C73.6847 1.48478 70.2629 0 66.5427 0C63.762 0 61.2153 0.876287 58.9734 2.60432C57.8421 3.47657 56.8171 4.54372 55.9133 5.78928C55.0099 4.54409 53.9845 3.47657 52.8529 2.60432C50.6113 0.876287 48.0646 0 45.2839 0C41.5637 0 38.1416 1.48478 35.6479 4.18068C33.184 6.84508 31.8267 10.485 31.8267 14.4305C31.8267 18.4914 33.3449 22.2087 36.6046 26.1293C39.5206 29.6362 43.7116 33.1963 48.5649 37.3188C50.2221 38.7266 52.1005 40.3224 54.051 42.0222C54.5663 42.4721 55.2275 42.7197 55.9133 42.7197C56.5988 42.7197 57.2603 42.4721 57.7749 42.0229C59.7254 40.3228 61.6049 38.7262 63.2629 37.3177C68.1154 33.196 72.3064 29.6362 75.2224 26.1289C78.4821 22.2087 80 18.4914 80 14.4302C80 10.485 78.6427 6.84508 76.1784 4.18068Z" fill="url(#paint0_linear)"/>
        <path d="M66.4208 2.70352C65.7181 2.69052 65.1328 3.24339 65.1186 3.94505C65.1045 4.64671 65.6572 5.23026 66.3599 5.24327C66.3599 5.24327 66.3924 5.24507 66.5222 5.25228C67.4294 5.33517 71.4211 5.92106 73.5851 9.87217C73.8513 10.3422 74.3711 10.5922 74.8903 10.5105C75.0354 10.4795 75.1804 10.4486 75.3159 10.3585C75.9282 10.0153 76.1542 9.25385 75.8248 8.63717C72.5542 2.85548 66.5697 2.7183 66.4208 2.70352Z" fill="#FF0800"/>
        <defs>
        <linearGradient id="paint0_linear" x1="67.9996" y1="-2.3453e-07" x2="50.6664" y2="31.9998" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="white"/>
        </linearGradient>
        </defs>
      </svg>
      </div>
      <div class="content" style="text-align: center;color: #fff;">
        <h2 style="font-size: 28px;margin: 22px 0 10px;font-weight: normal;">Welcome to WeFit</h2>
        <p style="max-width: 185px;margin:0 auto;font-size: 18px;">Thank you so much for joining the healthy social network.</p>
        <a href="#" class="btn-primary" style="height: 40px;background: #FFFFFF;border-radius: 50px;color: #FF0800;display: inline-block;padding: 10px 24px;box-sizing: border-box;text-decoration: none;font-size: 16px;margin: 23px 0 0;font-family: SFProText-Medium;min-width: 140px;">Verify Email</a>
      </div>
    </div>
    
    <div style="padding:30px;margin:0; display: block;vertical-align:top; text-align:left;">
      <div class="body-content">
        <center><h3 style="font-size: 28px;color: #808080;margin: 9px 0 32px;font-weight: normal;">Tips</h3></center>
        <table>
          <tbody>
            <tr>
              <td>
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="40" cy="40" r="40" fill="#FF0800"/>
                  <g clip-path="url(#clip0)">
                  <path d="M61.0463 25.0679C60.9327 24.6796 60.5268 24.4564 60.1377 24.5701C59.7493 24.6834 59.5266 25.09 59.6399 25.4784C59.7997 26.025 59.8806 26.5934 59.8806 27.1679C59.8806 28.2345 59.599 29.2824 59.0661 30.1983C58.5477 31.089 57.805 31.8394 56.9181 32.3681L56.6114 32.5505C56.3893 32.6828 56.2535 32.9216 56.2535 33.1799V34.1049H54.5411V31.1276C55.3262 30.8422 55.89 30.0904 55.89 29.2073V27.6078C55.89 26.4805 54.9733 25.5635 53.8468 25.5635H53.7709C52.6444 25.5635 51.7278 26.4805 51.7278 27.6078V29.2073C51.7278 30.0904 52.2912 30.8422 53.0763 31.1272V34.1049H51.3642V33.1799C51.3642 32.9216 51.228 32.6828 51.0064 32.5505L50.6997 32.3681C49.8124 31.8394 49.0697 31.089 48.5516 30.1983C48.0187 29.2824 47.7368 28.2345 47.7368 27.1679C47.7368 23.8301 50.4605 21.1147 53.8087 21.1147C55.3979 21.1147 56.902 21.7255 58.0438 22.8348C58.3337 23.1163 58.7976 23.1095 59.0795 22.8195C59.3614 22.5296 59.3545 22.0658 59.0642 21.7838C57.6478 20.4079 55.7813 19.6499 53.8087 19.6499C49.653 19.6499 46.272 23.0225 46.272 27.1679C46.272 28.4928 46.6225 29.7955 47.2852 30.9349C47.9184 32.0233 48.8213 32.9422 49.8994 33.5961V34.224C49.5099 34.4143 49.2406 34.813 49.2406 35.2749V38.6238C49.2406 39.2685 49.7651 39.7934 50.4098 39.7934H51.4989V40.823C51.4989 41.5257 52.07 42.0971 52.7726 42.0971H54.8452C55.5474 42.0971 56.1193 41.5257 56.1193 40.823V39.7934H57.208C57.8527 39.7934 58.3776 39.2685 58.3776 38.6238V35.2749C58.3776 34.813 58.1079 34.4143 57.7184 34.224V33.5961C58.7964 32.9422 59.6994 32.0233 60.3326 30.9349C60.9952 29.7955 61.3458 28.4928 61.3458 27.1679C61.3454 26.4546 61.2447 25.7481 61.0463 25.0679ZM53.1926 27.6078C53.1926 27.2881 53.452 27.0283 53.7709 27.0283H53.8468C54.1658 27.0283 54.4252 27.2881 54.4252 27.6078V29.2073C54.4252 29.5269 54.1658 29.7867 53.8468 29.7867H53.7709C53.452 29.7867 53.1926 29.5269 53.1926 29.2073V27.6078ZM54.654 40.6323H52.9634V39.7934H54.654V40.6323ZM56.9123 38.3286H50.705V35.5698H56.9123V38.3286Z" fill="white"/>
                  <path d="M53.8096 18.7537C54.2143 18.7537 54.542 18.4256 54.542 18.0212V16.8066C54.542 16.4019 54.2143 16.0742 53.8096 16.0742C53.4048 16.0742 53.0771 16.4019 53.0771 16.8066V18.0212C53.0771 18.4256 53.4052 18.7537 53.8096 18.7537Z" fill="white"/>
                  <path d="M49.3374 19.1409C49.4591 19.4129 49.7261 19.5743 50.0061 19.5743C50.106 19.5743 50.2079 19.5537 50.3052 19.5105C50.674 19.345 50.8396 18.912 50.6744 18.5428L50.1778 17.4338C50.0126 17.0646 49.5792 16.8994 49.21 17.0646C48.8411 17.2297 48.6755 17.6631 48.8411 18.0323L49.3374 19.1409Z" fill="white"/>
                  <path d="M45.4746 20.8733L46.3813 21.684C46.5209 21.8087 46.6956 21.8705 46.8692 21.8705C47.0706 21.8705 47.2709 21.7881 47.4155 21.6264C47.6852 21.3246 47.6592 20.8615 47.3579 20.5918L46.4511 19.7812C46.1494 19.5115 45.6863 19.5374 45.417 19.8392C45.1473 20.1405 45.1732 20.6036 45.4746 20.8733Z" fill="white"/>
                  <path d="M43.5595 24.8347L44.7188 25.2066C44.7932 25.2302 44.8683 25.2417 44.9427 25.2417C45.2525 25.2417 45.5401 25.0437 45.6397 24.7328C45.7633 24.3475 45.5512 23.9351 45.1659 23.8116L44.0066 23.44C43.6213 23.3164 43.2089 23.5285 43.0853 23.9138C42.9621 24.2991 43.1742 24.7114 43.5595 24.8347Z" fill="white"/>
                  <path d="M43.3499 29.2359C43.3766 29.2359 43.4029 29.2343 43.43 29.2313L44.6404 29.0997C45.0425 29.0562 45.3331 28.6949 45.2893 28.2925C45.2458 27.8904 44.8849 27.5994 44.4821 27.6436L43.2717 27.7752C42.8693 27.8187 42.579 28.1803 42.6225 28.5824C42.6637 28.9578 42.981 29.2359 43.3499 29.2359Z" fill="white"/>
                  <path d="M44.3715 32.0322C44.0221 32.2355 43.9039 32.6841 44.1076 33.0336C44.2437 33.267 44.489 33.3975 44.7412 33.3975C44.8663 33.3975 44.9929 33.3655 45.1093 33.2979L46.1606 32.6853C46.5104 32.4816 46.6286 32.0334 46.4249 31.6839C46.2212 31.3341 45.773 31.2159 45.4232 31.4196L44.3715 32.0322Z" fill="white"/>
                  <path d="M57.3131 19.5105C57.4103 19.554 57.5118 19.5746 57.6121 19.5746C57.8918 19.5746 58.1592 19.4133 58.2809 19.1413L58.7775 18.0323C58.9427 17.6631 58.7775 17.2297 58.4083 17.0646C58.0394 16.8994 57.6057 17.0646 57.4405 17.4338L56.9442 18.5428C56.7786 18.912 56.9438 19.3454 57.3131 19.5105Z" fill="white"/>
                  <path d="M60.7498 21.8705C60.9234 21.8705 61.0981 21.8087 61.2377 21.684L62.1445 20.8733C62.4459 20.6036 62.4718 20.1405 62.2021 19.8392C61.9324 19.5374 61.4693 19.5115 61.1679 19.7812L60.2612 20.5918C59.9598 20.8615 59.9339 21.3246 60.2036 21.6264C60.3482 21.7881 60.5488 21.8705 60.7498 21.8705Z" fill="white"/>
                  <path d="M61.9786 24.7328C62.0785 25.0437 62.3662 25.2417 62.6759 25.2417C62.7499 25.2417 62.8254 25.2302 62.8998 25.2066L64.0591 24.8347C64.444 24.7114 64.6561 24.2991 64.5329 23.9138C64.4093 23.5285 63.9966 23.3164 63.6117 23.44L62.4524 23.8116C62.0671 23.9351 61.855 24.3475 61.9786 24.7328Z" fill="white"/>
                  <path d="M64.3465 27.7753L63.1361 27.6437C62.7333 27.5987 62.3724 27.8906 62.3285 28.2926C62.285 28.6951 62.5753 29.0563 62.9778 29.1002L64.1882 29.2318C64.2153 29.2345 64.242 29.236 64.2683 29.236C64.6372 29.236 64.9546 28.9579 64.9954 28.5829C65.0392 28.1805 64.7489 27.8192 64.3465 27.7753Z" fill="white"/>
                  <path d="M63.2465 32.033L62.1952 31.4204C61.8458 31.2171 61.3972 31.3349 61.1935 31.6844C60.9898 32.0342 61.108 32.4824 61.4578 32.6861L62.5092 33.2987C62.6251 33.3662 62.7522 33.3983 62.8773 33.3983C63.1294 33.3983 63.3747 33.2678 63.5109 33.0344C63.7142 32.6849 63.596 32.2363 63.2465 32.033Z" fill="white"/>
                  <path d="M23.1606 32.9614H30.589C30.9934 32.9614 31.3214 32.6333 31.3214 32.229C31.3214 31.8243 30.9934 31.4966 30.589 31.4966H23.1606C22.7559 31.4966 22.4282 31.8243 22.4282 32.229C22.4282 32.6333 22.7563 32.9614 23.1606 32.9614Z" fill="white"/>
                  <path d="M19.7388 51.3916H34.0111C34.4158 51.3916 34.7435 51.064 34.7435 50.6592C34.7435 50.2548 34.4158 49.9268 34.0111 49.9268H19.7388C19.3344 49.9268 19.0063 50.2548 19.0063 50.6592C19.0063 51.064 19.3344 51.3916 19.7388 51.3916Z" fill="white"/>
                  <path d="M43.6634 43.5806C43.6634 41.1854 41.716 39.2368 39.3227 39.2368C36.929 39.2368 34.9819 41.1854 34.9819 43.5806C34.9819 45.9759 36.929 47.9244 39.3227 47.9244C41.716 47.9244 43.6634 45.9759 43.6634 43.5806ZM39.3223 40.7017C40.8577 40.7017 42.1154 41.9121 42.1944 43.4295C42.0765 43.444 41.9575 43.4532 41.8377 43.4532C40.3023 43.4532 39.0442 42.2424 38.966 40.7249C39.0827 40.7101 39.2017 40.7017 39.3223 40.7017ZM36.4468 43.5806C36.4468 42.6578 36.8836 41.8354 37.5603 41.3082C37.9097 43.3548 39.6942 44.918 41.8377 44.918C41.848 44.918 41.8583 44.9173 41.8686 44.9173C41.3864 45.8332 40.4266 46.4596 39.3223 46.4596C37.7369 46.4596 36.4468 45.1679 36.4468 43.5806Z" fill="white"/>
                  <path d="M57.0475 55.1426L53.3393 53.1212C52.846 52.8522 52.0503 52.6497 51.4884 52.6497H38.7499V50.3234C38.9399 50.3326 39.1307 50.3387 39.3222 50.3387C43.682 50.3387 47.7404 47.9866 49.9144 44.2005C50.1342 43.8179 50.1342 43.3422 49.9144 42.9588C47.7408 39.1731 43.682 36.8213 39.3222 36.8213C39.1307 36.8213 38.9399 36.8274 38.7499 36.8362V27.7358C38.7499 27.0629 38.2022 26.5151 37.5292 26.5151H24.082C23.6773 26.5151 23.3496 26.8432 23.3496 27.2476C23.3496 27.6523 23.6773 27.98 24.082 27.98H37.2851V36.9941C36.7606 37.0834 36.2452 37.2066 35.7409 37.3622V36.7221C35.7409 36.0488 35.1935 35.5014 34.5202 35.5014H19.2297C18.5564 35.5014 18.009 36.0488 18.009 36.7221V46.9253C18.009 47.5982 18.5564 48.146 19.2297 48.146H32.3546C33.8214 49.1653 35.5036 49.8623 37.2851 50.1659V52.6497H28.477C27.9181 52.6497 27.4294 52.951 27.162 53.3989H19.7386C19.3343 53.3989 19.0062 53.7269 19.0062 54.1313C19.0062 54.536 19.3343 54.8637 19.7386 54.8637H26.9454V56.8718H19.7386C19.3343 56.8718 19.0062 57.1994 19.0062 57.6042C19.0062 58.0085 19.3343 58.3366 19.7386 58.3366H26.9568C27.0461 59.0954 27.6934 59.6866 28.477 59.6866H37.2851V62.4996H16.4648V27.98H20.5664C20.9712 27.98 21.2988 27.6523 21.2988 27.2476C21.2988 26.8432 20.9712 26.5151 20.5664 26.5151H16.2207C15.5474 26.5151 15 27.0629 15 27.7358V62.7434C15 63.4166 15.5474 63.9641 16.2207 63.9641H37.5292C38.2022 63.9641 38.7499 63.4166 38.7499 62.7434V59.6866H51.4884C52.0503 59.6866 52.846 59.4837 53.3393 59.2148L57.0479 57.1933C57.474 56.9606 57.7185 56.5872 57.7185 56.168C57.7185 55.7491 57.474 55.3753 57.0475 55.1426ZM31.5795 58.2218H28.477C28.4422 58.2218 28.4102 58.1909 28.4102 58.1573V54.179C28.4102 54.1454 28.4419 54.1145 28.477 54.1145H31.5795V58.2218ZM19.4739 46.6812V36.9663H34.2761V37.9188C31.983 38.9629 30.0231 40.7074 28.7306 42.9588C28.5105 43.3422 28.5105 43.8182 28.7306 44.2009C29.2559 45.116 29.8922 45.9465 30.6159 46.6812H19.4739ZM30.0639 43.5798C31.9914 40.311 35.5273 38.2862 39.3225 38.2862C43.1174 38.2862 46.6532 40.3114 48.5812 43.5798C46.6529 46.8483 43.117 48.8739 39.3225 48.8739C35.5277 48.8739 31.9918 46.849 30.0639 43.5798ZM50.434 55.4355H47.4219C47.0172 55.4355 46.6895 55.7636 46.6895 56.168C46.6895 56.5727 47.0172 56.9004 47.4219 56.9004H50.434V58.2218H33.0443V56.9004H44.0039C44.4083 56.9004 44.7364 56.5727 44.7364 56.168C44.7364 55.7636 44.4083 55.4355 44.0039 55.4355H33.0443V54.1145H50.434V55.4355ZM53.472 57.4741L52.6381 57.9288C52.4615 58.0249 52.1689 58.118 51.8988 58.1722V54.1637C52.1693 54.2183 52.4615 54.311 52.6381 54.4071L53.472 54.8618V57.4741ZM54.9369 56.6757V55.6606L55.868 56.168L54.9369 56.6757Z" fill="white"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="50" height="50" fill="white" transform="translate(15 15)"/>
                  </clipPath>
                  </defs>
                  </svg>
              </td>
              <td>
                <p style="color: #808080;font-size: 18px;padding-left: 22px;">Create and view posts based on your health interests.</p>
              </td>
            </tr>
            <tr>
              <td>
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="40" cy="40" r="40" fill="#FF0800"/>
                  <g clip-path="url(#clip0)">
                  <path d="M50.6798 59.3306H46.5761L46.5783 53.299C46.5784 52.9429 46.3863 52.6144 46.0759 52.44L42.3593 50.3515C42.1785 50.2476 41.9724 50.135 41.7539 50.0161C40.2265 49.1838 37.8073 47.8645 36.9031 45.5553H45.1734L49.4261 49.7436C49.701 50.0139 49.701 50.0139 49.6942 50.7164C49.6933 50.8244 49.6921 50.9413 49.6921 51.0687V52.6107C49.6921 53.1546 50.133 53.5955 50.6769 53.5955C51.2207 53.5955 51.6616 53.1546 51.6616 52.6107V51.0687C51.6616 50.948 51.6627 50.8374 51.6637 50.7351C51.6722 49.8415 51.6783 49.1958 50.8073 48.3397L46.5624 44.1589L46.5683 40.8759L49.0946 40.8739C50.2321 40.871 51.0539 40.8687 51.9981 39.5697C52.0013 39.5654 52.0043 39.5612 52.0073 39.5569L55.2938 34.8797C55.7872 34.1756 55.9742 33.3165 55.8206 32.4606C55.6651 31.5947 55.1834 30.8443 54.4643 30.3479C53.7515 29.8558 52.8885 29.6719 52.0337 29.8302C51.1792 29.9885 50.4393 30.4696 49.9502 31.1841L47.8761 34.2118L46.1363 34.2032L43.997 30.835C45.9959 29.5533 47.531 27.3291 47.531 24.6824C47.531 23.2033 47.0889 21.774 46.2712 20.5649C46.5684 20.2724 46.8259 19.945 47.0267 19.5777C47.4815 18.7456 47.8148 17.3656 46.8193 15.5178C46.567 15.0492 45.9879 14.8661 45.5118 15.1044C43.5813 16.0703 42.1264 16.1511 40.8015 16.1512C40.6384 16.1512 40.4784 16.1498 40.3214 16.1485C40.1644 16.1472 40.01 16.146 39.8579 16.146C39.0972 16.146 38.2113 16.1724 37.3227 16.4881C34.8329 17.3724 31.0234 19.9708 33.463 27.4404C33.4633 27.4416 33.4637 27.4425 33.4641 27.4437C33.4659 27.4494 33.4676 27.4547 33.4693 27.4603C33.4776 27.4859 33.4871 27.5108 33.4974 27.5353C33.4976 27.5357 33.4977 27.5362 33.4979 27.5366C34.0851 28.928 34.9188 30.007 35.9714 30.7572L34.6234 32.705L28.8438 34.6859C27.5797 35.1172 26.6983 36.3047 26.6507 37.6409C26.6503 37.6526 26.6501 37.6641 26.6501 37.6758V38.7546H21.0189C20.4751 38.7546 20.0342 39.1955 20.0342 39.7393C20.0342 40.2832 20.4751 40.7241 21.0189 40.7241H26.6501V43.6054C26.6501 45.3949 28.1143 46.8507 29.9139 46.8507L29.9282 46.8506C31.7175 46.8425 33.1668 45.376 33.1589 43.5821L33.1451 40.0897L33.7019 39.899L34.6252 44.5728L33.8578 48.5585H28.2561C27.7122 48.5585 27.2714 48.9994 27.2714 49.5432C27.2714 50.0871 27.7122 50.5281 28.2561 50.5281H33.4785L33.2959 51.4766L28.0014 53.2493C27.9963 53.251 27.9915 53.2533 27.9865 53.2551C27.9821 53.2568 27.9776 53.2577 27.9731 53.2593L24.5768 54.5129C24.3316 54.6034 24.1325 54.7876 24.0232 55.0248C23.914 55.2622 23.9035 55.5332 23.9941 55.7783L26.9128 63.6715C27.0128 63.9419 27.2262 64.1549 27.4968 64.2544C27.6067 64.2948 27.7217 64.3147 27.8363 64.3147C28.0035 64.3147 28.17 64.2721 28.319 64.1883C30.2262 63.1157 31.3954 61.359 31.3506 59.8042L39.0195 57.1545C40.1671 56.7555 40.6108 56.108 40.9196 55.4675L42.3043 52.5924L43.9924 53.564C44.0691 53.6082 44.1493 53.6407 44.231 53.6625L44.6086 53.8747L44.6062 60.3119C44.6062 60.3121 44.6062 60.3122 44.6062 60.3124L44.5951 64.0121C44.5943 64.2739 44.6979 64.5251 44.8825 64.7104C45.0673 64.8957 45.3182 64.9999 45.5799 64.9999H54.2557C54.6893 64.9999 55.0718 64.7164 55.1978 64.3015C55.4941 63.3269 55.3082 62.3498 54.6603 61.4755C53.7094 60.1923 51.8345 59.3306 50.6798 59.3306ZM48.3887 36.184C48.7124 36.1869 49.0214 36.0252 49.2059 35.7558L51.5753 32.297C51.7667 32.0174 52.0569 31.8292 52.3926 31.767C52.7284 31.7049 53.0668 31.7765 53.3455 31.9688C53.6296 32.165 53.8202 32.4631 53.8823 32.8087C53.9426 33.1442 53.8711 33.4782 53.6819 33.7482L50.4007 38.4177C50.0489 38.9017 50.0449 38.9016 49.0915 38.9042L46.5719 38.9061L46.5768 36.1749L48.3887 36.184ZM45.5615 24.6824C45.5615 27.7014 42.6933 30.0432 40.2259 30.0432C39.3228 30.0432 38.5311 29.8882 37.8451 29.5758C37.8168 29.5608 37.7881 29.5471 37.7589 29.5351C36.7823 29.0651 36.026 28.2665 35.4749 27.1286C35.9134 26.1018 37.3812 23.1337 39.7482 22.9519C40.3777 22.904 42.7103 22.6659 44.6531 21.689C45.2427 22.5698 45.5615 23.608 45.5615 24.6824ZM34.9359 21.1898C35.3936 19.8402 36.3899 18.9094 37.982 18.344C38.5177 18.1538 39.097 18.1155 39.858 18.1155C40.0046 18.1155 40.1534 18.1168 40.3049 18.1179C40.4674 18.1194 40.6328 18.1207 40.8017 18.1207C42.1631 18.1207 43.6576 18.0108 45.4292 17.3004C45.5559 17.8023 45.512 18.2425 45.2986 18.6329C44.546 20.0099 41.8164 20.8189 39.5982 20.9879C37.3202 21.1629 35.7274 22.8216 34.738 24.3286C34.5723 23.1189 34.638 22.0685 34.9359 21.1898ZM31.8385 38.4553C31.439 38.5922 31.1712 38.9686 31.1729 39.3909L31.1895 43.5903C31.1926 44.2988 30.6228 44.8778 29.9194 44.881H29.9138C29.2122 44.881 28.6194 44.2968 28.6194 43.6053V39.8422C28.6229 39.8084 28.6249 39.7741 28.6249 39.7392C28.6249 39.7044 28.6229 39.6701 28.6194 39.6362V37.6959C28.6441 37.1848 28.9959 36.715 29.4808 36.5496L35.4193 34.5141C35.5505 34.4693 35.6865 34.4466 35.8238 34.4466C36.3734 34.4466 36.8611 34.7959 37.0372 35.3156C37.2648 35.9873 36.9086 36.7188 36.2425 36.9465L31.8385 38.4553ZM36.8804 38.8102C38.5707 38.2322 39.4779 36.3809 38.9026 34.6835C38.5895 33.7595 37.8887 33.0493 37.0184 32.7054L37.7512 31.6463C38.5055 31.8892 39.3322 32.0128 40.2259 32.0128C40.8808 32.0128 41.5502 31.8995 42.2054 31.6876L44.6084 35.4708L44.6006 39.8923C44.6006 39.8923 44.6006 39.8923 44.6006 39.8924C44.6006 39.8925 44.6006 39.8925 44.6006 39.8926L44.594 43.5856H36.4377L35.5821 39.2547L36.8804 38.8102ZM28.3144 61.7835L26.183 56.0196L27.7422 55.4442L29.3355 59.6055C29.5093 60.059 29.2075 60.9696 28.3144 61.7835ZM39.1455 54.6127C38.9756 54.9652 38.8581 55.1256 38.3747 55.2937L30.7961 57.9122L29.6011 54.7911L34.4666 53.162C34.8037 53.0491 35.0538 52.7633 35.121 52.4143L35.9817 47.9443C37.2978 49.766 39.2532 50.8929 40.5857 51.6224L39.1455 54.6127ZM46.5676 63.0303L46.5728 61.3002H50.6798C51.1602 61.3002 52.468 61.8252 53.0779 62.6483C53.1795 62.7853 53.248 62.9127 53.2926 63.0303H46.5676Z" fill="white"/>
                  <path d="M24.5891 50.5004C25.1329 50.5004 25.5738 50.0594 25.5738 49.5155C25.5738 48.9717 25.1329 48.5308 24.5891 48.5308H24.5643C24.0204 48.5308 23.5796 48.9717 23.5796 49.5155C23.5796 50.0594 24.0204 50.5004 24.5643 50.5004H24.5891Z" fill="white"/>
                  <path d="M17.1366 38.7544H17.1117C16.5679 38.7544 16.127 39.1953 16.127 39.7392C16.127 40.283 16.5679 40.7239 17.1117 40.7239H17.1366C17.6805 40.7239 18.1213 40.283 18.1213 39.7392C18.1213 39.1953 17.6805 38.7544 17.1366 38.7544Z" fill="white"/>
                  <path d="M50.6801 55.4062C50.1362 55.4062 49.6953 55.8472 49.6953 56.391V56.4159C49.6953 56.9598 50.1362 57.4007 50.6801 57.4007C51.2239 57.4007 51.6648 56.9598 51.6648 56.4159V56.391C51.6648 55.8471 51.2239 55.4062 50.6801 55.4062Z" fill="white"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="50" height="50" fill="white" transform="translate(11 15)"/>
                  </clipPath>
                  </defs>
                </svg>
              </td>
              <td>
                <p style="color: #808080;font-size: 18px;padding-left: 22px;">Create and attend local healthy activities such as hiking and yoga.</p>
              </td>
            </tr>
            <tr>
              <td>
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="40" cy="40" r="40" fill="#FF0800"/>
                  <g clip-path="url(#clip0)">
                  <path d="M64.7114 49.752L62.3277 47.3878C61.9446 47.0078 61.3263 47.0104 60.9464 47.3935C60.5664 47.7765 60.569 48.3949 60.952 48.7748L63.3357 51.1391C63.5261 51.328 63.7748 51.4224 64.0234 51.4224C64.2747 51.4224 64.526 51.326 64.7169 51.1334C65.097 50.7504 65.0944 50.1319 64.7114 49.752Z" fill="white"/>
                  <path d="M59.8986 44.9687C59.5172 44.5873 58.8989 44.5873 58.5173 44.9687L58.5156 44.9704C58.1342 45.3518 58.1351 45.9695 58.5165 46.3509C58.7069 46.5415 58.9568 46.6367 59.2066 46.6367C59.457 46.6367 59.7076 46.5411 59.8985 46.3501C60.28 45.9687 60.28 45.3502 59.8986 44.9687Z" fill="white"/>
                  <path d="M51.5716 49.4729L61.047 39.9977C62.4821 38.5625 62.4821 36.2273 61.0469 34.7922C60.5409 34.2861 59.9228 33.9594 59.2718 33.8103C59.4951 33.3304 59.6132 32.8037 59.6132 32.2587C59.6132 31.2755 59.2303 30.3512 58.5352 29.6561C57.99 29.1107 57.3036 28.7586 56.5585 28.6317C56.978 27.3538 56.6815 25.8902 55.6671 24.876C55.1094 24.3184 54.4158 23.9785 53.6918 23.8543C53.8131 23.4862 53.8771 23.0976 53.8771 22.6987C53.8771 21.7155 53.4942 20.7912 52.7991 20.0961C52.1039 19.401 51.1795 19.0181 50.1964 19.0181C49.5721 19.0181 48.9718 19.1729 48.4385 19.4638L48.3443 19.3625C47.1195 18.0463 45.3858 17.2915 43.588 17.2915H35.9181C35.3788 17.2915 34.9414 17.7289 34.9414 18.2683V19.5491C34.9414 20.0617 35.0281 20.5607 35.1939 21.03C34.7521 20.8465 34.2741 20.7501 33.7813 20.7501C32.7981 20.7501 31.8738 21.133 31.1786 21.8281C30.1637 22.843 29.8675 24.3076 30.2879 25.5859C29.5634 25.7099 28.8688 26.0499 28.3106 26.608C27.6155 27.3032 27.2326 28.2275 27.2326 29.2106C27.2326 29.6087 27.2963 29.9968 27.4171 30.3641C26.673 30.4913 25.9873 30.8433 25.4425 31.3881C24.3217 32.5089 24.0763 34.1788 24.7063 35.54C24.0392 35.6925 23.4265 36.0284 22.9306 36.5242C21.4956 37.9593 21.4956 40.2944 22.9306 41.7296L24.8792 43.6781L15.2861 53.2711C14.9046 53.6525 14.9046 54.271 15.2861 54.6525C15.4768 54.8432 15.7268 54.9387 15.9767 54.9387C16.2266 54.9387 16.4766 54.8433 16.6673 54.6525L26.3531 44.9668C26.9014 45.2797 27.5237 45.4471 28.1722 45.4471C29.1553 45.4471 30.0796 45.0642 30.7749 44.3689C31.5301 43.6138 31.8874 42.6092 31.8476 41.6178C31.8971 41.6198 31.9466 41.6213 31.9961 41.6213C32.9385 41.6212 33.8814 41.2624 34.5988 40.545C35.2939 39.8498 35.6768 38.9255 35.6768 37.9424C35.6768 37.8927 35.6751 37.8433 35.6732 37.7938C35.7221 37.7958 35.771 37.7974 35.8201 37.7974C36.7626 37.7974 37.7052 37.4386 38.4227 36.7211C39.1178 36.0259 39.5007 35.1016 39.5007 34.1185C39.5007 34.0687 39.4991 34.0193 39.4971 33.9699C39.546 33.9719 39.595 33.9734 39.644 33.9734C40.5866 33.9734 41.5292 33.6146 42.2466 32.8972C43.5951 31.5487 43.6762 29.4059 42.4908 27.9614L48.9746 21.4776C49.3008 21.1513 49.7344 20.9717 50.1958 20.9717C50.6573 20.9717 51.091 21.1513 51.4172 21.4776C51.7435 21.8039 51.9231 22.2375 51.9231 22.6989C51.9231 23.1603 51.7435 23.594 51.4171 23.9202L50.4612 24.8762L46.9926 28.3447C46.6112 28.7262 46.6112 29.3446 46.9926 29.7262C47.1833 29.9168 47.4333 30.0123 47.6833 30.0123C47.9332 30.0123 48.1832 29.9169 48.3739 29.7262L51.8424 26.2576C52.5158 25.5842 53.6116 25.5841 54.2851 26.2575C54.9585 26.9311 54.9585 28.0268 54.2851 28.7003L53.3291 29.6563L50.8166 32.1688C50.4351 32.5503 50.4351 33.1687 50.8166 33.5503C51.0073 33.7409 51.2573 33.8364 51.5072 33.8364C51.7571 33.8364 52.0071 33.741 52.1978 33.5503L54.7103 31.0378C55.0366 30.7114 55.4703 30.5318 55.9316 30.5318C56.393 30.5318 56.8267 30.7114 57.153 31.0378C57.4792 31.3641 57.6588 31.7977 57.6588 32.2591C57.6588 32.7204 57.4792 33.1542 57.1529 33.4804L55.8407 34.7926L54.6404 35.9929C54.2589 36.3743 54.2589 36.9928 54.6404 37.3743C54.8311 37.5649 55.0811 37.6604 55.331 37.6604C55.5809 37.6604 55.8309 37.565 56.0216 37.3743L57.2228 36.1731C57.8963 35.5008 58.9915 35.5009 59.6646 36.174C60.3381 36.8475 60.3381 37.9433 59.6646 38.6168L50.1892 48.0921C47.8099 50.4715 44.6477 51.8489 41.2851 51.971C41.0379 51.98 40.8032 52.0824 40.6286 52.2578L31.8754 61.0434C31.4947 61.4255 31.4958 62.0439 31.878 62.4247C32.0685 62.6145 32.3179 62.7096 32.5673 62.7096C32.8178 62.7096 33.0685 62.6138 33.2592 62.4222L39.6974 55.9602C41.3328 57.0094 43.256 57.5082 45.2116 57.3789L50.2504 62.4179C50.4412 62.6085 50.6912 62.704 50.9411 62.704C51.1911 62.704 51.441 62.6086 51.6317 62.4179C52.0131 62.0364 52.0131 61.418 51.6317 61.0364L46.2743 55.6784C46.0714 55.4757 45.7896 55.3721 45.5038 55.3955L45.1941 55.4209C43.7647 55.5381 42.3518 55.225 41.1182 54.5337L41.7459 53.9037C45.4584 53.6747 48.9342 52.1104 51.5716 49.4729ZM29.3936 42.9877C29.0673 43.3141 28.6335 43.4936 28.1723 43.4936C27.7109 43.4936 27.2772 43.3141 26.951 42.9877L24.3118 40.3485C23.6383 39.6751 23.6383 38.5793 24.3118 37.9058C24.638 37.5794 25.0718 37.3998 25.5332 37.3998C25.9945 37.3998 26.4283 37.5794 26.7544 37.9058L29.3937 40.5449C30.067 41.2184 30.067 42.3142 29.3936 42.9877ZM33.2177 39.1636C32.5442 39.837 31.4482 39.837 30.775 39.1636L28.1357 36.5243L26.8234 35.212C26.15 34.5386 26.15 33.4428 26.8234 32.7693C27.1497 32.443 27.5834 32.2634 28.0447 32.2634C28.5061 32.2634 28.9398 32.443 29.266 32.7693L33.2174 36.7208C33.2174 36.7208 33.2174 36.7208 33.2175 36.7208C33.5439 37.0472 33.7235 37.4809 33.7235 37.9422C33.7235 38.4035 33.5439 38.8373 33.2177 39.1636ZM37.0417 35.3395C36.3681 36.0129 35.2722 36.013 34.5989 35.3395L29.6914 30.432C29.3651 30.1058 29.1855 29.6722 29.1855 29.2107C29.1855 28.7494 29.3651 28.3156 29.6915 27.9895C30.0282 27.6527 30.4706 27.4844 30.9127 27.4844C31.3547 27.4844 31.7966 27.6525 32.1333 27.9887L34.37 30.2254L37.0415 32.8969H37.0416C37.3677 33.2231 37.5473 33.6567 37.5473 34.1182C37.5475 34.5796 37.3679 35.0134 37.0417 35.3395ZM40.8657 31.5155C40.1922 32.189 39.0964 32.189 38.423 31.5155L33.5155 26.608C33.515 26.6075 33.5144 26.607 33.5138 26.6064L32.5594 25.652C31.886 24.9785 31.886 23.8828 32.5594 23.2093C32.8961 22.8725 33.3385 22.7041 33.7808 22.7041C34.2231 22.7041 34.6655 22.8725 35.0021 23.2093L40.8655 29.0727C41.1918 29.3989 41.3714 29.8326 41.3714 30.2939C41.3715 30.7555 41.192 31.1894 40.8657 31.5155ZM41.1225 26.5671L38.4397 23.8843C38.7439 23.9492 39.0567 23.9837 39.375 23.9836C39.3822 23.9836 39.3894 23.9836 39.3966 23.9836L42.0771 23.971C42.6165 23.9685 43.0518 23.5291 43.0493 22.9896C43.0467 22.4518 42.6099 22.0175 42.0726 22.0175C42.071 22.0175 42.0695 22.0175 42.0679 22.0175L39.3875 22.0301C39.3834 22.0301 39.3794 22.0301 39.3753 22.0301C38.7149 22.0301 38.0937 21.7737 37.6253 21.3076C37.1541 20.8385 36.8946 20.2141 36.8946 19.549V19.2449H43.5877C44.8451 19.2449 46.0575 19.7728 46.9141 20.6933L46.9539 20.7359L41.1225 26.5671Z" fill="white"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="50" height="50" fill="white" transform="translate(15 15)"/>
                  </clipPath>
                  </defs>
                </svg>
              </td>
              <td>
                <p style="color: #808080;font-size: 18px;padding-left: 22px;">Create and join support groups while remaining anonymous for privacy.</p>
              </td>
            </tr>
          </tbody>
        </table>
        <center style="margin-top: 15px;">
            <a href="https://apps.apple.com/us/app/wefit-inc/id1568922016" class="btn-primary" style="height: 40px;background: #FF0800;border-radius: 50px;color: #FFFFFF;display: inline-block;padding: 10px 24px;box-sizing: border-box;text-decoration: none;font-size: 16px;margin: 23px 0 0;font-family: SFProText-Medium;min-width: 140px;">Let's Go</a>
        </center>
      </div>
    </div>
    
    <div style="background-color: #F9F9F9;padding:25px; margin:0; display: block;border-radius:20px;">
      <div class="content" style="text-align: center;color: #404040;">
        <h2 style="font-size: 28px;margin: 12px 0 10px;font-weight: normal;">We Need You</h2>
        <p style="max-width: 255px;margin:0 auto;font-size: 18px;">Help us grow our amazing community by inviting your friends to try out WeFit on iOS.</p>
        <a class="mobile" href="sms:?&body=Join me and download WeFit, the healthy social network. https://apps.apple.com/us/app/wefit-inc/id1568922016" class="btn-primary" style="height: 40px;background: #404040;border-radius: 50px;color: #FFFFFF;display: none;padding: 10px 24px;box-sizing: border-box;text-decoration: none;font-size: 16px;margin: 23px 0 10px;font-family: SFProText-Medium;min-width: 140px;">Invite Friends</a>
        <a class="desktop" href="mailto:?body=Join me and download WeFit, the healthy social network. https://apps.apple.com/us/app/wefit-inc/id1568922016" class="btn-primary" style="height: 40px;background: #404040;border-radius: 50px;color: #FFFFFF;display: inline-block;padding: 10px 24px;box-sizing: border-box;text-decoration: none;font-size: 16px;margin: 23px 0 10px;font-family: SFProText-Medium;min-width: 140px;">Invite Friends</a>
      </div>
    </div>

    <div style="background-color: #404040;padding:25px; margin:15px 0 0 ; display: block;border-radius:20px; font-family: 'Roboto', sans-serif;">
     <center>
      <div class="footer-logo">
        <svg width="73" height="23" viewBox="0 0 73 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.789062 7.16113C0.789062 6.83887 0.930664 6.55566 1.21387 6.31152C1.49707 6.06738 1.7998 5.94531 2.12207 5.94531C2.4541 5.94531 2.74707 6.03809 3.00098 6.22363C3.26465 6.40918 3.43555 6.63867 3.51367 6.91211L6.44336 16.8584L9.91504 7.10254H9.92969C10.1738 6.67285 10.6035 6.45801 11.2188 6.45801C11.502 6.45801 11.7656 6.52148 12.0098 6.64844C12.2539 6.76562 12.4248 6.92188 12.5225 7.11719V7.13184L15.8916 16.624L18.6016 6.92676C18.6797 6.66309 18.8408 6.43359 19.085 6.23828C19.3291 6.04297 19.627 5.94531 19.9785 5.94531C20.291 5.94531 20.5938 6.0625 20.8867 6.29688C21.1797 6.52148 21.3262 6.80469 21.3262 7.14648C21.3262 7.36133 21.3066 7.53223 21.2676 7.65918L17.4297 21.1943C17.3613 21.4385 17.2002 21.668 16.9463 21.8828C16.7021 22.0879 16.4189 22.1904 16.0967 22.1904C15.7939 22.1904 15.5205 22.1074 15.2764 21.9414C15.042 21.7656 14.876 21.5605 14.7783 21.3262L11.2334 11.5264L7.62988 21.4141C7.53223 21.6777 7.35645 21.8877 7.10254 22.0439C6.8584 22.21 6.58984 22.293 6.29688 22.293C5.99414 22.293 5.71582 22.2002 5.46191 22.0146C5.21777 21.8291 5.05664 21.5996 4.97852 21.3262L0.833008 7.67383C0.803711 7.52734 0.789062 7.35645 0.789062 7.16113ZM29.8516 6.00391C31.1504 6.00391 32.3418 6.32617 33.4258 6.9707C34.5098 7.61523 35.3789 8.48438 36.0332 9.57812C36.6973 10.6621 37.0293 11.8682 37.0293 13.1963C37.0293 13.4697 37.0146 13.748 36.9854 14.0312C36.9463 14.3926 36.7803 14.7002 36.4873 14.9541C36.2041 15.1982 35.8818 15.3203 35.5205 15.3203L25.2812 15.335C25.4473 16.0381 25.7598 16.6973 26.2188 17.3125C26.6777 17.9277 27.2344 18.4258 27.8887 18.8066C28.5527 19.1875 29.2754 19.3779 30.0566 19.3779C30.8965 19.3779 31.6484 19.1729 32.3125 18.7627C32.9766 18.3525 33.4941 17.8789 33.8652 17.3418C33.9824 17.1562 34.1582 17 34.3926 16.873C34.6367 16.7461 34.8662 16.6826 35.0811 16.6826C35.4814 16.6826 35.8232 16.8291 36.1064 17.1221C36.3994 17.415 36.5459 17.7617 36.5459 18.1621C36.5459 18.4746 36.458 18.7529 36.2822 18.9971C35.6768 19.8857 34.8418 20.6572 33.7773 21.3115C32.7227 21.9561 31.4971 22.2783 30.1006 22.2783C28.9775 22.2783 27.9326 22.0586 26.9658 21.6191C26.0088 21.1797 25.1738 20.5791 24.4609 19.8174C23.748 19.0557 23.1914 18.1816 22.791 17.1953C22.4004 16.1992 22.2051 15.1494 22.2051 14.0459C22.2051 12.9814 22.4004 11.9707 22.791 11.0137C23.1816 10.0469 23.7236 9.1875 24.417 8.43555C25.1201 7.68359 25.9355 7.09277 26.8633 6.66309C27.791 6.22363 28.7871 6.00391 29.8516 6.00391ZM34.0117 12.3906C33.8262 11.4336 33.3477 10.6182 32.5762 9.94434C31.8047 9.27051 30.8965 8.93359 29.8516 8.93359C28.7871 8.93359 27.8447 9.28027 27.0244 9.97363C26.2139 10.667 25.667 11.4775 25.3838 12.4053L34.0117 12.3906ZM38.4209 7.61523C38.4209 7.33203 38.5332 7.05859 38.7578 6.79492C38.9922 6.52148 39.2754 6.38477 39.6074 6.38477L41.7754 6.37012V6.17969C41.8047 4.5293 42.1758 3.23535 42.8887 2.29785C43.6016 1.36035 44.7588 0.90625 46.3604 0.935547L47.9717 0.964844C48.3721 0.964844 48.7139 1.11133 48.9971 1.4043C49.2803 1.6875 49.4219 2.0293 49.4219 2.42969C49.4219 2.83008 49.2803 3.16699 48.9971 3.44043C48.7139 3.71387 48.3672 3.85059 47.957 3.85059L46.3164 3.61621C45.8086 3.61621 45.4375 3.69434 45.2031 3.85059C44.9785 3.99707 44.832 4.26074 44.7637 4.6416C44.7051 5.02246 44.6807 5.56445 44.6904 6.26758L44.7051 6.39941L47.6641 6.41406C48.0547 6.41406 48.3818 6.5459 48.6455 6.80957C48.9189 7.07324 49.0557 7.39062 49.0557 7.76172C49.0557 8.07422 48.9287 8.37695 48.6748 8.66992C48.4209 8.95312 48.1328 9.09473 47.8105 9.09473L44.7051 9.12402L44.7344 20.9307V20.9453C44.7344 21.3359 44.5879 21.668 44.2949 21.9414C44.0117 22.2051 43.6699 22.3369 43.2695 22.3369C42.8691 22.3369 42.5225 22.2051 42.2295 21.9414C41.9463 21.668 41.8047 21.3359 41.8047 20.9453V20.9307L41.7754 9.09473L39.8125 9.08008C39.4219 9.08008 39.0898 8.94336 38.8164 8.66992C38.5527 8.39648 38.4209 8.04492 38.4209 7.61523ZM52.7764 4.45117C52.3271 4.45117 51.9609 4.31445 51.6777 4.04102C51.3945 3.75781 51.248 3.41113 51.2383 3.00098L51.209 1.8877C51.209 1.5166 51.375 1.21875 51.707 0.994141C52.0391 0.759766 52.3564 0.642578 52.6592 0.642578C53.0693 0.642578 53.4111 0.78418 53.6846 1.06738C53.9678 1.35059 54.1143 1.69238 54.124 2.09277L54.1387 2.97168C54.1387 3.35254 54.0117 3.69434 53.7578 3.99707C53.5039 4.2998 53.1768 4.45117 52.7764 4.45117ZM51.1943 7.21973C51.1943 6.84863 51.3506 6.5459 51.6631 6.31152C51.9756 6.07715 52.2783 5.95996 52.5713 5.95996C53.001 5.95996 53.3672 6.08691 53.6699 6.34082C53.9727 6.59473 54.124 6.93164 54.124 7.35156V7.36621L54.1533 20.9307C54.1533 21.3213 54.0068 21.6533 53.7139 21.9268C53.4307 22.2002 53.0889 22.3369 52.6885 22.3369C52.2783 22.3369 51.9316 22.2002 51.6484 21.9268C51.3652 21.6436 51.2236 21.3066 51.2236 20.916L51.1943 7.21973ZM59.207 3.33789C59.207 2.9375 59.3486 2.5957 59.6318 2.3125C59.915 2.01953 60.2617 1.87305 60.6719 1.87305C61.0723 1.87305 61.4141 2.01953 61.6973 2.3125C61.9902 2.5957 62.1367 2.9375 62.1367 3.33789V6.25293H64.0996C64.4805 6.25293 64.8076 6.38965 65.0811 6.66309C65.3545 6.93652 65.4912 7.26367 65.4912 7.64453C65.4912 8.02539 65.3545 8.35254 65.0811 8.62598C64.8076 8.89941 64.4805 9.03613 64.0996 9.03613H62.1221L62.1074 18.1035V18.1328C62.1074 18.6113 62.1611 18.9434 62.2686 19.1289C62.376 19.3047 62.5957 19.3926 62.9277 19.3926C63.3477 19.3926 63.7188 19.2803 64.041 19.0557C64.1582 18.9775 64.2998 18.9092 64.4658 18.8506C64.6318 18.7822 64.793 18.748 64.9492 18.748C65.3496 18.748 65.6914 18.8896 65.9746 19.1729C66.2676 19.4561 66.4141 19.7979 66.4141 20.1982C66.4141 20.6768 66.2188 21.0625 65.8281 21.3555C65.457 21.6387 65.0322 21.873 64.5537 22.0586C64.0752 22.2441 63.5625 22.3369 63.0156 22.3369C61.7852 22.3369 60.8379 21.9609 60.1738 21.209C59.5098 20.4473 59.1777 19.5 59.1777 18.3672V18.2354L59.1924 9.05078H57.3027C56.9219 9.05078 56.5947 8.91406 56.3213 8.64062C56.0479 8.36719 55.9111 8.04004 55.9111 7.65918C55.9111 7.27832 56.0479 6.95117 56.3213 6.67773C56.5947 6.4043 56.9219 6.26758 57.3027 6.26758H59.207V3.33789ZM70.3398 22.0586C69.6758 22.0586 69.0947 21.8242 68.5967 21.3555C68.1084 20.8867 67.8643 20.3154 67.8643 19.6416C67.8643 18.9678 68.1084 18.4014 68.5967 17.9424C69.0947 17.4736 69.6758 17.2393 70.3398 17.2393C71.0039 17.2393 71.585 17.4736 72.083 17.9424C72.5811 18.4014 72.8301 18.9678 72.8301 19.6416C72.8301 20.3154 72.5811 20.8867 72.083 21.3555C71.585 21.8242 71.0039 22.0586 70.3398 22.0586Z" fill="white"/>
        </svg>
      </div>
      <p style="color: #FFFFFF;font-size: 8px;margin: 4px 0 8px;">© 2021 WeFit Inc.</p>
      <div class="links">
        <center>
          <table>
            <tbody>
              <tr>
                <td style="text-align: center;">
                  <a style="color:#ffffff;text-decoration: none;font-size: 12px;" href="https://docs.google.com/document/d/1DzlJJo0Jjm8IgKvkMzzeLR1LWDXorNriTOQX2nYQ_9g/edit?usp=sharing">Terms</a>
                </td>
              </tr>
              <tr>
                <td style="text-align: center;">
                  <a style="color:#ffffff;text-decoration: none;font-size: 12px;" href="https://docs.google.com/document/d/1M4XfyoSKtq5eAYlrFFT9zWB2W6OCFK-PdOu_5v9WcPs/edit?usp=sharing">Privacy</a>
                </td>
              </tr>
              <tr>
                <td style="text-align: center;">
                  <a style="color:#ffffff;text-decoration: none;font-size: 12px;" href="#">FAQs</a>
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </div>
      <div class="contact-us">
        <h4 style="color:#ffffff;font-size: 12px;margin:15px 0 4px ;font-weight: 800;">Contact Us</h4>
        <a style="color:#ffffff;font-size: 12px;margin: 0;text-decoration: none;" href="mailto:contact@wefit.us">contact@wefit.us</a>
      </div>
      <div class="follow-us">
        <h4 style="color:#ffffff;font-size: 12px;margin:15px 0 4px ;font-weight: 800;">Follow Us</h4>
        <table>
          <tbody>
            <tr>
              <td>
                <a style="margin: 0 4px;" href="https://www.facebook.com/WeFitHQ">
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 24.8579C19.4036 24.8579 25 19.2933 25 12.429C25 5.56463 19.4036 0 12.5 0C5.59644 0 0 5.56463 0 12.429C0 19.2933 5.59644 24.8579 12.5 24.8579Z" fill="white"/>
                    <path d="M15.4767 11.1829C15.5287 10.6006 15.07 10.0991 14.4854 10.0991C13.9358 10.0991 13.4902 9.65356 13.4902 9.10392V8.75264C13.4902 8.23477 13.8548 8.13119 14.0631 8.13119C14.1255 8.13119 14.2415 8.13119 14.3819 8.13119C15.0111 8.13119 15.5215 7.6211 15.5215 6.99187C15.5215 6.36263 15.0114 5.85254 14.3822 5.85254H13.4902C11.1986 5.85254 10.7298 7.56153 10.7298 8.59728V9.44808C10.7298 9.80764 10.4383 10.0991 10.0788 10.0991C9.71922 10.0991 9.42773 10.3906 9.42773 10.7502V11.7785C9.42773 12.1381 9.71922 12.4296 10.0788 12.4296C10.4383 12.4296 10.7298 12.7209 10.7298 13.0805C10.7298 14.7334 10.7298 16.466 10.7298 17.6278C10.7298 18.3901 11.3478 19.0066 12.11 19.0066C12.8723 19.0066 13.4902 18.39 13.4902 17.6277C13.4902 16.5369 13.4902 14.9465 13.4902 13.4087C13.4902 12.8679 13.9287 12.4296 14.4696 12.4296C14.9766 12.4296 15.3998 12.0425 15.445 11.5374L15.4767 11.1829Z" fill="#404040"/>
                  </svg>
                </a>
              </td>
              <td>
                <a style="margin: 0 4px;" href="https://www.instagram.com/wefitapp/">
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 24.8579C19.4036 24.8579 25 19.2933 25 12.429C25 5.56463 19.4036 0 12.5 0C5.59644 0 0 5.56463 0 12.429C0 19.2933 5.59644 24.8579 12.5 24.8579Z" fill="white"/>
                    <path d="M16.25 6.37012H8.75C7.44792 6.37012 6.40625 7.40586 6.40625 8.70053V11.1863V16.1579C6.40625 17.4525 7.44792 18.4883 8.75 18.4883H16.25C17.5521 18.4883 18.5938 17.4525 18.5938 16.1579V11.1863V8.70053C18.5938 7.40586 17.5521 6.37012 16.25 6.37012ZM16.9271 7.76837C17.0701 7.76837 17.1875 7.8843 17.1875 8.0273V8.79818C17.1875 9.37348 16.7182 9.83985 16.1429 9.83985C15.5708 9.83985 15.1042 9.37613 15.1042 8.80411C15.1042 8.23208 15.5679 7.76837 16.1399 7.76837H16.9271ZM10.7812 11.1863C11.1458 10.6684 11.8229 10.3059 12.5 10.3059C13.1771 10.3059 13.8542 10.6684 14.2187 11.1863C14.4792 11.5488 14.6354 11.9631 14.6354 12.4292C14.6354 13.6203 13.6458 14.5525 12.5 14.5525C11.3542 14.5525 10.3646 13.6203 10.3646 12.4292C10.3646 11.9631 10.5208 11.5488 10.7812 11.1863ZM17.3958 16.1579C17.3958 16.7793 16.875 17.2972 16.25 17.2972H8.75C8.125 17.2972 7.60417 16.7793 7.60417 16.1579V11.9097C7.60417 11.5102 7.92804 11.1863 8.32756 11.1863C8.84754 11.1863 9.20735 11.7321 9.17276 12.251C9.16875 12.3111 9.16667 12.3707 9.16667 12.4292C9.16667 14.2417 10.6771 15.7436 12.5 15.7436C14.3229 15.7436 15.8333 14.2417 15.8333 12.4292C15.8333 12.3707 15.8313 12.3111 15.8272 12.251C15.7926 11.7321 16.1525 11.1863 16.6724 11.1863C17.072 11.1863 17.3958 11.5102 17.3958 11.9097V16.1579Z" fill="#404040"/>
                  </svg>
                </a>
              </td>
              <td>
                <a style="margin: 0 4px;" href="https://twitter.com/wefit_app">
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 24.8579C19.4036 24.8579 25 19.2933 25 12.429C25 5.56463 19.4036 0 12.5 0C5.59644 0 0 5.56463 0 12.429C0 19.2933 5.59644 24.8579 12.5 24.8579Z" fill="white"/>
                    <path d="M18.7369 8.60243C18.8687 8.43626 18.6661 8.20685 18.4634 8.269C18.2531 8.33345 18.1201 8.02939 18.2592 7.85896C18.3397 7.76022 18.4139 7.65571 18.4814 7.54612C18.6253 7.31235 18.361 7.08591 18.1106 7.19836C17.8774 7.30309 17.6319 7.39566 17.3708 7.47261C17.1625 7.53396 16.9434 7.45894 16.7809 7.315C16.3003 6.88939 15.7134 6.62939 15.0518 6.62939C13.5413 6.62939 12.2913 7.92404 12.2913 9.58119C12.2913 9.91855 12.0036 10.2389 11.6696 10.192C10.1828 9.98306 8.82953 9.31601 7.73213 8.34309C7.16396 7.83938 6.30176 7.94152 6.30176 8.70083C6.30176 9.40977 6.52138 10.0459 6.89381 10.5429C7.0523 10.7543 6.91619 11.0686 6.66969 10.9733C6.53928 10.923 6.41434 10.8632 6.29487 10.7975C6.27462 10.7864 6.24967 10.8009 6.24967 10.8241C6.24967 11.9527 6.86056 12.9464 7.75357 13.451C7.92014 13.5452 7.89932 13.8276 7.70801 13.8276C7.48756 13.8276 7.28299 14.0664 7.38101 14.2638C7.51917 14.5421 7.69503 14.7918 7.90141 15.0048C8.38448 15.5034 8.60975 16.5683 7.94953 16.783C7.43932 16.9489 6.90158 17.0384 6.35384 17.0384C6.20077 17.0384 6.11939 17.2731 6.25235 17.3489C7.32955 17.9633 8.57535 18.333 9.89551 18.333C14.9476 18.333 17.708 13.8794 17.708 9.99548C17.708 9.96315 17.708 9.92577 17.708 9.8865C17.708 9.72591 17.7803 9.57439 17.9011 9.46858C18.2209 9.18848 18.4967 8.90519 18.7369 8.60243Z" fill="#404040"/>
                  </svg>
                </a>
              </td>
              <td>
                <a style="margin: 0 4px;" href="https://www.linkedin.com/company/wefit-inc/?viewAsMember=true">
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 24.8579C19.4036 24.8579 25 19.2933 25 12.429C25 5.56463 19.4036 0 12.5 0C5.59644 0 0 5.56463 0 12.429C0 19.2933 5.59644 24.8579 12.5 24.8579Z" fill="white"/>
                    <path d="M9.06315 18.074H6.66732V10.4094H9.06315V18.074ZM7.76107 9.42539C6.87565 9.42539 6.30273 8.85573 6.30273 8.07891C6.30273 7.30209 6.87565 6.73242 7.76107 6.73242C8.64648 6.73242 9.2194 7.30209 9.2194 8.07891C9.2194 8.85573 8.69857 9.42539 7.76107 9.42539ZM18.6986 18.074H15.9382V14.0863C15.9382 13.0505 15.5215 12.3255 14.584 12.3255C13.8548 12.3255 13.4902 12.7916 13.2819 13.2577C13.2298 13.4131 13.2298 13.672 13.2298 13.8792V18.0222H10.5215C10.5215 18.0222 10.5736 10.979 10.5215 10.3576H13.2298V11.5487C13.3861 11.0308 14.2715 10.254 15.6257 10.254C17.3444 10.254 18.6986 11.3415 18.6986 13.7238V18.074Z" fill="#404040"/>
                  </svg>
                </a>
              </td>
              <td>
                <a style="margin: 0 4px;" href="https://www.youtube.com/channel/UCuMcN15thVjRN5g1tq3k6dg">
                  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 24.8579C19.4036 24.8579 25 19.2933 25 12.429C25 5.56463 19.4036 0 12.5 0C5.59644 0 0 5.56463 0 12.429C0 19.2933 5.59644 24.8579 12.5 24.8579Z" fill="white"/>
                    <path d="M18.3393 9.61254C18.3351 9.59118 18.3335 9.56983 18.3325 9.54809C18.3311 9.51672 18.3257 9.48536 18.3047 9.45399C18.2914 9.43421 18.2809 9.41206 18.2809 9.38825C18.2809 9.37858 18.2794 9.36894 18.2762 9.35981C18.1164 8.90143 17.7028 8.59685 17.1872 8.59685C17.197 8.59685 17.1988 8.58352 17.1891 8.58217C16.745 8.52057 14.8974 8.28613 12.4997 8.28613C10.1434 8.28613 8.26022 8.52132 7.81042 8.58247C7.80095 8.58375 7.80261 8.59685 7.81218 8.59685C7.30972 8.59685 6.90421 8.88603 6.73593 9.3249C6.72365 9.35692 6.71842 9.39114 6.71842 9.42544C6.71842 9.53496 6.66046 9.6402 6.64828 9.74905C6.58514 10.3133 6.45801 11.308 6.45801 12.4291C6.45801 13.672 6.61426 14.7595 6.66634 15.2774C6.66634 15.3196 6.66634 15.3619 6.69466 15.4042C6.70792 15.4239 6.71842 15.4461 6.71842 15.4699C6.71842 15.4796 6.71998 15.4892 6.72316 15.4983C6.88296 15.9567 7.29652 16.2613 7.81218 16.2613C7.80239 16.2613 7.80054 16.2746 7.81024 16.276C8.25433 16.3376 10.1019 16.572 12.4997 16.572C14.8559 16.572 16.7391 16.3368 17.1889 16.2757C17.1984 16.2744 17.1967 16.2613 17.1872 16.2613C17.6896 16.2613 18.0951 15.9721 18.2634 15.5333C18.2757 15.5012 18.2809 15.467 18.2809 15.4327C18.2809 15.3232 18.3389 15.2179 18.3511 15.1091C18.4142 14.5449 18.5414 13.5502 18.5414 12.4291C18.5414 11.211 18.4413 10.1422 18.3393 9.61254ZM14.3358 12.6424C14.2976 12.6794 14.2488 12.7036 14.2056 12.7347L11.9607 14.3495C11.8688 14.4156 11.7795 14.5005 11.6663 14.5005C11.5537 14.5005 11.4432 14.4317 11.3895 14.3326C11.3657 14.2888 11.3538 14.2393 11.3538 14.1898V10.6683C11.3538 10.5648 11.4059 10.4612 11.5101 10.4094C11.7037 10.3131 11.9108 10.4728 12.0864 10.5991L14.2123 12.1282C14.251 12.1561 14.2828 12.1782 14.309 12.2182C14.3859 12.3358 14.4413 12.5219 14.3494 12.6282C14.3451 12.6331 14.3406 12.6378 14.3358 12.6424Z" fill="#404040"/>
                  </svg>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p style="color: #ffffff;font-size: 8px;margin: 8px 0 0;">Unsubscribe</p>
     </center>
    </div>

    
    
    </div>
   </body>
</html>


