<section>
  <div class="container">
    <h3 class="text-center">Welcome to the Social Network for Health</h3>
  </div>
  <div class="container">
    <p>Hi <b><%= @user.first_name %> <%= @user.last_name %></b>,</p>
    <p>Thank you so much for joining our community! Please verify your email below for security purposes and to reset your password if necessary.</p>
    <div class="btn-container"><%= link_to "Verify Email", edit_activation_url(@user.activation_token, email: @user.email), class: 'btn' %></div>
    <p>Now that you're officially a member of WeFit (Woohoo!), it's time to invite your friends and start conquering your health journey together, as a community.</p>
    <div class="btn-container"><%= link_to "Invite Friends", '#', class: 'btn' %></div>
  </div>
</section>
