<%# Meta data about the page %>
<% title 'The Social Network for All Things Health' %>
<% meta_tag :description, 'Join WeFit today, it’s free! Post and attend local healthy activities, chat with licensed health professionals, join support groups, or post about health.' %>
<%# Page content %>
<div class="px-5 mx-auto my-auto" style="max-width: 1000px">
  <h1 class="text-center big-text py-4">Account Settings</h1>
  <div class="row bg-light rounded shadow">
    <!-- Left nav -->
    <div class="col-3 px-0 py-0 border-right">
      <nav class="nav flex-column nav-blocks" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" href="#">Account Information</a>
        <a class="nav-link" href="#">Login Verification</a>
        <a class="nav-link" href="#">Edit Profile Picture</a>
      </nav>
    </div>
    <!-- Right content -->
    <div class="col-9 py-5 px-5">
      <div class="tab-pane show active" id="account-info" role="tabpanel" aria-labelledby="home-tab">
        <h2>Account Information</h2>
        <dl class="row">
          <dt class="col-sm-3">Email</dt>
          <dd class="col-sm-9"><%= current_user.email %></dd>

          <%# NOTE: DO NOT SHOW THE PASSWORD DIGEST %>
          <%# Only show a placeholder %>
          <dt class="col-sm-3">Password</dt>
          <dd class="col-sm-9"><%= '*'*16 %></dd>

          <dt class="col-sm-3">Birthdate</dt>
          <dd class="col-sm-9"><%= I18n.l current_user.birthdate %></dd>

          <dt class="col-sm-3">Gender</dt>
          <dd class="col-sm-9"><%= current_user.gender %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
