<%# Meta data about the page %>
<% title 'The Social Network for All Things Health' %>
<% meta_tag :description, 'Join WeFit today, it’s free! Post and attend local healthy activities, chat with licensed health professionals, join support groups, or post about health.' %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%# Page content %>

<div class="split left">

    <img src="assets/logo-transparent.png" class="logo-image" alt="WeFit" height="50px" width="100px">

    <div class="centered">
        <h1><b>Healthy</b></h1>
        <h1><b>Together</b></h1>
        <br><br><br><br>
        <p class="subtitleText">Join the social network for health today!</p>
        <br>
        <img src="assets/Apple_Store_Image.svg" class="apple-image" alt="AppleStore">
    </div>

    <div class="bottom-left">
        <p class="bottomText">WeFit Inc &copy; 2020</p>
</div>

<div class="split right">

    <div class="hamburger hamburger--squeeze" type="button">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>

    <div id="mySidenav" class="sidenav">

        <p class="links">Menu</p>

        <div class="nav-list-box">
            <a href="#">Log In</a>
            <a href="#">Sign Up</a>
            <a href="#">Health Professionals</a>
            <a href="#">Advertising</a>
            <a href="#">Pioneer Application</a>
            <a href="#">Contact Us</a>
            <a href="#">Download</a>
        </div>
        <div class="nav-connect-text">
            <p class="connect-text">Connect with us!</p>
        </div>
        <div class="social-media-links">
            <img src="assets/facebook-icon.svg" class="facebook-icon" alt="FaceBook">
            <img src="assets/instagram-icon.svg" class="instagram-icon" alt="Instagram">
            <img src="assets/twitter-icon.svg" class="twitter-icon" alt="Twitter">
            <img src="assets/linkedin-icon.svg" class="linkedin-icon" alt="LinkedIn">
            <img src="assets/youtube-icon.svg" class="youtube-icon" alt="YouTube">
        </div>

        <div class="wefit-nav-logo">
            <img src="assets/text-transparent-white.svg" class="nav-logo" alt="NavLogo">
        </div>
    </div>

    <button id="whatiswefit" class="what_is_wefit" type="button">What is WeFit?</button>

    <img src="assets/iPhone XS White Clay.svg" id="iphoneslide" class="slideshowFrame" width="341" height="683">

    <div class="slideshow-container">

    </div>

    <ul class="bottom-nav">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Help Center</a></li>
    </ul>

    <img src="assets/text-logo-red.svg" class="wefit-logo" alt="logo">

</div>

<script>


function openNav() {

    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("iphoneslide").style.left = "30%";
    document.getElementById("whatiswefit").style.right = "320px";
}

function closeNav() {

    document.getElementById("mySidenav").style.width = "0px";
    document.getElementById("iphoneslide").style.left = "50%";
    document.getElementById("whatiswefit").style.right = "10px";
}

var hamburger = document.querySelector(".hamburger");
hamburger.addEventListener("click", function() {

        if(hamburger.classList.contains("is-active")){
            hamburger.classList.toggle("is-active");
            closeNav();
        }else{
            hamburger.classList.toggle("is-active");
            openNav();
        }





});

</script>
