<%# Meta data about the page %>
<% title 'Thank you for activating your account!' %>
<div class="py-5">
	<h1 class="text-center big-text">Welcome to Wefit!</h1>
	<h3 class="text-center big-text"><%= link_to "Click here to head to the homepage and log in", root_path %></h3>
</div>
