<div class="row vertical-center">
	<div class="col-7 my-auto mx-auto">
		<div class="embed-responsive embed-responsive-16by9 rounded-big">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OWlLx0ITCh4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen wmode="transparent"></iframe>
		</div>
		<div class="mt-3 rounded-big bg-light border shadow mx-auto w-50 px-2 py-2">
			<h4 class="text-center">Share with Friends!</h4>
			<div class="share-icons">
				<a href="https://www.facebook.com/sharer/sharer.php?u=http://wefit.us" style="text-decoration: none !important"><%= inline_svg "facebook-icon.svg", size: "60px*60px", class: "share-icon" %></a>
				<a href="http://twitter.com/share?text=WeFit&url=http://wefit.us" style="text-decoration: none !important"><%= inline_svg "twitter-icon.svg", size: "60px*60px", class: "share-icon" %></a>
				<a href="mailto:?subject=Check out WeFit&amp;body=Check out this site http://wefit.us" style="text-decoration: none !important"><%= inline_svg "gmail-icon.svg", size: "60px*60px", class: "share-icon" %></a>
			</div>
		</div>
	</div>
	<div class="col-4 px-4 py-5 mx-auto my-auto bg-light border rounded-big shadow" style="min-width: 350px">
		<h3 class="text-center">Join today, <b>FREE</b> forever.</h3>
		<div class="text-center mx-auto w-100">
			<div class="fb-login-button" data-size="large" data-width="300" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
		</div>
		<div class="text-center mx-auto w-100 pt-2">
			<div class="g-signin2" data-onsuccess="onSignIn" data-width="300" data-longtitle="true"></div>
		</div>
		<p class="text-center">or</p>
		<%= render 'signup' %>
	</div>
</div>
<div class="circles">
	<div class="bg-circle bg-circle-1"></div>
	<div class="bg-circle bg-circle-2"></div>
	<div class="bg-circle bg-circle-3"></div>

	<div class="bg-circle bg-circle-4"></div>
	<div class="bg-circle bg-circle-5"></div>

	<div class="bg-circle bg-circle-6"></div>
	<div class="bg-circle bg-circle-7"></div>
</div>
