<div class="w-75 mx-auto">
	<div class="row pt-5">
		<div class="col-7 my-auto">
			<div class="embed-responsive embed-responsive-16by9 rounded-big">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t97VaPZT2hc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen wmode="transparent"></iframe>
			</div>  
		</div>
		<div class="col-1"></div>
		<div class="col-4 px-4 py-5 bg-light border rounded-big shadow">
			<h3 class="text-center">Join today, <b>FREE</b> forever.</h3>
			<p class="text-center"><a href="#"><%= image_tag "f_logo_RGB-Blue_58.png", size: "24x24", class: "mr-1" %><span class="align-middle">Sign up with Facebook</span></a></p>
			<p class="text-center"><a href="#">Sign up with Google</a></p>
			<p class="text-center">or</p>
			<form>
				<div class="form-group row">
					<div class="col">
						<input type="text" class="form-control" placeholder="First Name">
					</div>
					<div class="col">
						<input type="text" class="form-control" placeholder="Last Name">
					</div>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password">
				</div>
				<div class="form-group row">
					<div class="col">
						<select class="form-control" required>
							<option value="" disabled selected hidden>Gender</option>
							<option>Male</option>
							<option>Female</option>
							<option>Other</option>
						</select>
					</div>
					<div class="col">
						<input type="date" class="form-control" placeholder="Birthdate">
					</div>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-green btn-lg w-50">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="circles">
	<div class="bg-circle bg-circle-1"></div>
	<div class="bg-circle bg-circle-2"></div>
	<div class="bg-circle bg-circle-3"></div>

	<div class="bg-circle bg-circle-4"></div>
	<div class="bg-circle bg-circle-5"></div>

	<div class="bg-circle bg-circle-6"></div>
	<div class="bg-circle bg-circle-7"></div>
</div>
