<div class="row align-items-center">
	<div class="col-8 pt-5">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t97VaPZT2hc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen wmode="transparent"></iframe>
		</div>  
	</div>
	<div class="col-4">
		<h3>Join today, <b>FREE</b> forever.</h3>
		<form>
			<div class="form-group">
				<div class="row">
					<div class="col">
						<input type="text" class="form-control" placeholder="First Name">
					</div>
					<div class="col">
            <input type="text" class="form-control" placeholder="Last Name">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
