<%# Meta data about the page %>
<% title 'About' %>
<% meta_tag :description, 'WeFit combines the entertainment of social media with the encouragement of support groups and the wisdom of licensed health professionals to create a well-rounded user experience for you.' %>

<%# Page content %>
<div class="about-top">

	<h3 class="text-white text-center">About</h3>
	<h4 class="text-white text-center big-text"><b>WeFit</b> is a place to connect with your community about all things health. </h4>

</div>

<div class="about-middle">
	<h3 class="text-center ">WeFit Features</h3>
	<div class="card-deck mb-3 px-3 mt-3 text-center">

		<div class="card mb px-2 rounded shadow-sm">
		
			<div class="col px-2 py-2 mt-3">
				<%= inline_svg "about_notes.svg", size: "40px*40px" %>
        		<h4 class="my-0 font-weight-normal py-2">Posts</h4>
      		

			<p>Post pictures, videos, written content, or local activity meetups such as hikes, yoga, and gym sessions.</p>
		</div>
		</div>


		<div class="card mb px-2 rounded shadow-sm ">
			<div class="col px-2 py-2 mt-3">
			<%= inline_svg "about_group.svg", size: "40px*40px" %>
			<h4 class="my-0 font-weight-normal py-2">Support Groups</h4>
      		

			<p>Pick from a wide variety of support groups or create your own to give support, get support, and ask questions.</p>
		</div>
		</div>

		<div class="card mb px-2 rounded shadow-sm">
			<div class="col px-2 py-2 mt-3">
			<%= inline_svg "about_heart.svg", size: "40px*40px" %>
			<h4 class="my-0 font-weight-normal py-2">Professionals</h4>
      		
			<p>Ask questions, or meet with local, licensed, health professionals ready to help take your health to the next level.</p>
		</div>
	</div>

	</div>

</div>



<div class="about-bottom">
	<h3 class="text-center">Join today, FREE forever.</h3>
	<div class="text-center">
		<%= link_to "Sign Up", root_path, class: "btn btn-green btn-lg btn-about", role: "button" %>
	</div>
</div>	
