<div class="about-top">
  <h1 class="text-white text-center">Coming soon</h1>
</div>
<div class="about-bottom text-center">
	<h3>Want to learn more about advertising?</h3>
	<%= link_to "Contact Us", contact_path, class: "btn btn-green btn-lg w-25", role: "button" %>
</div>