<%# Meta data about the page %>
<% title 'Advertising' %>
<% meta_tag :description, 'Get more information about advertising with WeFit by contacting us today. Grow your reach and visibility with WeFit ads.' %>
<%# Page content %>
<div class="about-top">
  <h1 class=" text-center">Coming soon</h1>
</div>
<div class="about-middle text-center">
  <h3>Want to learn more about advertising?</h3>
  <%= link_to "Contact Us", contact_path, class: "btn btn-green btn-lg btn-about", role: "button" %>
</div>