<%# Meta data about the page %>
<% title 'Advertising Policy' %>
<%# Page content %>
<div id="privacy-policy">
	<h2><b>WeFit Inc. Advertising Policy</b></h2>
	<p><i>Last Updated: August 9th, 2019.</i></p>
	<h5><b>Greetings!</b></h5>
