<%# Meta data about the page %>
<% title 'Advertising Policy' %>
<%# Page content %>
<div id="privacy-policy">
	<h2><b>Advertising Policy</b></h2>
	<p><i>Last Updated: August 12th, 2019</i></p>
	<h5><b>1.	General</b></h5>
	<p>Our Advertising Policy reflects not only the integrity of WeFit Inc., but the overall mission for WeFit users to have a pleasurable experience. Whenever advertisers submit an order, each ad is reviewed against these policies. If you have any questions, please contact us. 
	</p>
	<h5><b>2.	Review Proces
	</b></h5>
	<p>All ads are subject to our review and approval. Most all ads are reviewed within 24 hours. We reserve the right to reject or remove any ad for any reason, including the ad not being in compliance with this Advertising Policy. During our review process, we will check your ad’s images, text, and the associated landing page. If the landing page connected is not fully functional, accurately representing your ad, or does not comply with our policy we may reject your ad. Once your ad is reviewed, you will receive an email notification as well as a notification on our platform as to whether or not it was approved. If your ad was approved, you will begin to see its’ results in our ad manager. 
	</p>
	<h5><b>3.	Prohibited Content
	</b></h5>
	<p>
		<li>Ads in violation with our community guidelines
		</li>
		<li>Ads promoting illegal products, services, or activities. Ads promoting products, services, or content that is inappropriate, unsafe, or that may mislead viewers.
		</li>
		<li>Ads that discriminate or encourage discrimination against people based on things such as: race, ethnicity, color, nationality, religion, age, sex, sexual orientation, family status, disability, or medical condition.
		</li>
		<li>Ads that promote tobacco usage.
		</li>
		<li>Ads that promote the sale or use of illegal drugs.
		</li>
		<li>Ads that promote shocking violence.
		</li>
		<li>Ads that may infringe upon any third party.
		</li>
		<li>Ads that mislead its’ viewers by containing deceptive, or false information.
		</li>
		<li>Ads that contain any harmful spyware and/or malware
		</li>
	</p>
	<h5><b>4.	Restricted Content
	</b></h5>
	<h5><b>Dating
	</b></h5>
	<p>Ads for online dating services must not be provocative, or overly sexual in nature. WeFit does not permit advertisements that promote infidelity. 
	</p>
	<h5><b>Alcohol
	</b></h5>
	<p>WeFit does not permit ads that promote alcohol to minors, encourage excessive consumption of alcohol, glamorize alcohol, or associate alcohol with operating a vehicle of any kind. 
	</p>
	<h5><b>Gambling
	</b></h5>
	<p>Ads including the promotion of any gambling, online casinos, brick and mortar casinos, lotteries, or any service that asks users to pay to play games with a chance of winning prizes with real-life value. 
	</p>
	<h5><b>Food & Prescription Drugs
	</b></h5>
	<p>Ads containing food or prescription drugs must accurately show, state, or link ingredients, and potential side effects. 
	</p>
	<h5><b>Financial Products & Services
	</b></h5>
	<p>Ads for financial products and services must clearly define and disclose all terms and conditions to consumers prior to the submission of any kind of application. 
	</p>
	<p>Ads containing pyramid schemes, get rich-quick, or other deceptive financial offers will not be tolerated. 
	</p>
	<p>Ads regarding cryptocurrency must undergo approval from WeFit.
	</p>
	<h5><b>5.	Lead Ads
	</b></h5>
	<p>Advertisers must not create Lead Ads with questions that request the following information:
	</p>
	<p>
		<li>Criminal History
		</li>
		<li>Financial Information
		</li>
		<li>Health information
		</li>
		<li>Insurance information
		</li>
		<li>Usernames or Passwords
		</li>
	</p>
	<h5><b>6.	Data Use
	</b></h5>
	<p>Any and all ad data collected or received from your WeFit ad must only be shared with other qualified individuals if or when necessary. Don’t transfer any WeFit ad data to any data brokers, ad exchanges, or other ad monetization service. WeFit ad data must only be used to assess the performance and effectiveness of your campaign.
	</p>
	<h5><b>7.	Partnerships & Endorsements
	</b></h5>
	<p>All partnerships and endorsements with WeFit or third-party services must be accurately represented and reflected when shown in an ad. They must clearly represent the situation, product, service, or company involved in the advertisement. 
	</p>
	<p>If you have any questions, please contact us.
	</p>