<% title 'Community Guidelines' %>
<% meta_tag :description, 'WeFit is a platform that gives many people opportunities at a wholesome community built around health and wellness. We believe in a diverse community that offers support and positivity on a daily basis.' %>
<div id="privacy-policy">
	<h2><b>Community Guidelines</b></h2>
	<p><i>Last Updated: August 12th, 2019</i></p>
	<p> WeFit is a platform that gives many people opportunities at a wholesome community built around health and wellness. We believe in a diverse community that offers support and positivity on a daily basis. We have created these Community Guidelines to reflect that. We know how important it is for our users to feel safe while using our Service, especially in an age of safety and security compromises.
	</p>
	<p>As a member of our community, the following is <b>PROHIBITED</b>:
		<li>Harassment
		</li>
		<li>Bullying
		</li>
		<li>Threats	
		</li>
		<li>Harm
		</li>
		<li>Violence
		</li>
		<li>Sexually Explicit Content
		</li>
		<li>Slander
		</li>
		<li>Impersonation
		</li>
		<li>Spam
		</li>
		<li>Hate Speech
		</li>
		<li>Discrimination
		</li>
		<li>Terrorism
		</li>
	</p>
	<p>If you are not familiar with these terms, please refer to a Google search definition. We believe that it is unnecessary to expand on how exactly these can be harmful to the community. If you even have to question whether or not something is appropriate, chances are that it is not. WeFit reserves the right to delete any content that we feel violates this policy, along with our other policies. WeFit also reserves the right to terminate your account, and/or notify law enforcement if you violate these community guidelines. We will do our best to fairly enforce these standards and guidelines to ensure a pleasurable user experience. Be smart, have fun, and most importantly build each other up.
	</p>
