<%# Meta data about the page %>
<% title 'Cookie Policy' %>
<%# Page content %>
<div id="privacy-policy">
	<h2><b>WeFit Cookie Policy</b></h2>
	<p><i>Last Updated: August 12th, 2019</i></p>
	<p>A cookie is a small packet of data stored on your device to help websites and apps remember information about you. Cookies help us understand how you use our site and our services better. WeFit Inc. believes that this information allows for a more seamless user experience. Check out our privacy policy to see how we collect and use your information.</p>
	<h5><b>How We Use Cookies</b></h5>
	<p>We use cookies and similar technologies to give you a better user experience as well as to show you relevant content. These technologies also help protect WeFit Inc. and its’ users. We may use these technologies to store and remember information about you, and ultimately use it in a way to optimize our website/mobile app for your experience. This information may be shared with outside organizations, such as advertisers, to help ensure an effective marketing campaign that allows you, the user, to be able to see more relevant ads.</p>
	<h5><b>Controlling Cookies</b></h5>
	<p>In order to effectively eliminate our ability to use cookies to help better your user experience, you can follow the instructions provided by the website browser you are using. It is typically located in the help, tools, or edit functions. Please know that if you do decide to disable your cookies, you may not have full access to our Services and other parts of our Services may not work properly. Your mobile devices uninstall process can be effective in stopping us from collecting any information about you if you do not wish to be a part of the WeFit community, or you just do not want your personal information collected. </p>
	<p>We hope that you enjoy our Services and continue to help us help you.</p>
</div>