<div id="helpcenterheader">
<a href="desktop.html"><img class="logo" src="whitelogo.svg" height="50px" width="50px"></a>
<div class="container">Help Center</div>
<p class="tech">Technology can be confusing. Get help here.</p>
<!-- Search form -->
<div class="main">
  <!-- Another variation with a button -->
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search Help Center">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

</div>
</div>

<div id="accordion" class="panel-body">
<br>
  <div class="container demo">


	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						<i class="more-less glyphicon glyphicon-plus"></i>
            Using WeFit
          </a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
          <br>
           <h4>Create an Account</h4>
        <li><a class="r" href="https://www.apple.com/ios/app-store/">Download</a> and launch the WeFit mobile app.</li>
        <li>Enter your name, email address, password, gender and birthdate.</li>
        <li>Click <span class="r">'Sign Up'</span></li>
        <li>Verify your email address for added security</li>
        <br>
        <h4>Home Page</h4>
        <h5>Posts</h5>
        <li>Posts on the home screen are separated out by category and can be seen by anyone in the WeFit app.</li>
        <li>Posts will only be displayed on the home screen for 24 hours, however, posts you create and posts you like can be revisited from the 'History' tab on the menu screen.</li>
        <li>You can interact with posts by liking them and commenting on them. All likes and comments are viewable to the post owner/creator only.</li>
        <br>
        <h5>Activities</h5>
        <li>Activities are meant to help you and your community come together and participate in fun, healthy, physical exercises.</li>
        <li>The most common activities will include: hiking, yoga, cycling, walking, jogging, and crossfit.</li>
        <li>You may filter activities by date & time, location, and difficulty.</li>
        <br>
        <h4>Support Groups</h4>
        <li>Support groups is a great place to be for anyone who has questions or may need support in regards to a specific health topic.</li>
        <li>In your support group post board you may ask questions and post about related things with other group members.</li>
        <li>In the give support section you may ask other members of the group to give you support for whatever you may be going through. You can post these requests anonymously to ensure your privacy and make you feel more comfortable.</li>
        <li>In the get support section you may answer other group members requests for support. Here you can really make an impact on others' lives and be a positive light.</li>
        <br>
        <h4>Health Professionals</h4>
        <li>Our health professional page gives you access to chat with and order services from local, licensed health professionals.</li>
        <li>Types of health professionals offering services include: personal trainers, dietitians, psychologists, and psychiatrists.</li>
        <li>Some services offered by health professionals include: health coaching, meal plans, workout plans, counseling, treatment plans, and more.</li>
        <br>
        <h4>Notifications</h4>
        <li>On the notifications page you will be notified of several different things to keep you in the loop on WeFit.</li>
        <br>
        <h4>Menu</h4>
        <li>The menu page displays several other useful WeFit features such as exercise, meditation, local, history, medical, and more.</li>
        <br>
        <h4>Exercise</h4>
        <li>The exercise page displays styles workouts of varying difficulty. Here you can tune your physical health.</li>
        <br>
        <h4>Meditation</h4>
        <li>The mediation page displays various genres of meditation videos. Here you can tune your mental health.</li>
        <br>
        <h4>Local</h4>
        <li>COMING SOON</li>
        <br>
        <h4>Medical</h4>
        <li>COMING SOON</li>
        <br>
        <p><a class="r" href="contactus.html">Contact us</a> is you have any questions, comments or feedback.</p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<i class="more-less glyphicon glyphicon-plus"></i>
						Account
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
<br>
        <h4>Create an Account</h4>
        <li><a class="r" href="https://www.apple.com/ios/app-store/">Download</a> and launch the WeFit mobile app.</li>
        <li>Enter your name, email address, password, gender and birthdate.</li>
        <li>Click <span class="r">'Sign Up'</span></li>
        <li>Verify your email address for added security</li>
        <br>
        <h4>Change Your Password</h4>
        <li>Navigate to your profile.</li>
        <li>Click the 'Edit Profile' button.</li>
        <li>Under the 'Info' tab you'll see your email and password listed at the bottom. Simply click on the asterisks (password), enter your old password and create a new one at least 8 characters in length.</li>
        <br>
        <h4>Forgot/Reset Password</h4>
        <li>On the log in screen in the mobile app, click 'Forgot Password?'. You can also get to this screen by logging out of the app from the 'Log Out' button at the bottom of the menu page.</li>
        <li>Enter your email address in the field tha appears.</li>
        <li>Navigate to your email inbox and follow the instructions within the reset your password email from WeFit.</li>
        <br>
        <h4>Delete Your Account</h4>
        <li>Click the 'Settings' tab on the 'Menu' page.</li>
        <li>Click 'Account' at the top of the 'Settings' page.</li>
        <li>Click 'Delete WeFit Account' at the bottom of the 'Account Settings' page.</li>
        <li>When you delete your account, you will have 30 days to change your mind and reactivate all your previous data & information. After 30 days your account will be unretrievable along with any data associated with your account. You must then create a new account if you would like to come back.</li>
        <br>
        <p><a class="r" href="contactus.html">Contact us</a> is you have any questions, comments or feedback.</p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<i class="more-less glyphicon glyphicon-plus"></i>
						Privacy & Security
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
          <br>
           <h3>Creating a Strong Password</h3>
     <li>When signing up for a WeFit, or when resetting your password, make sure your password is at least 8 characters in length.</li>
     <li>Do not use your name, or any information that may be easily guessed.</li>
     <li>Use a mixture of special characters, letters, and numbers in your password for maximum security.</li>
     <li>Make sure to verify your email address so you can change your password every 180 days.</li>
     <br>
     <h3>Reporting Suspicious Activity</h3>
     <li>Make sure to report accounts that post spam and inappropriate content.</li>
     <li>If you think that comething is not normal, feel free to contact us.</li>
     <br>
     <h3>Your Privacy Matters</h3>
     <li>WeFit cares immensely about your experience on our platform. If you don’t feel like your personal information is safe, then it might be hard to enjoy your time. We vow to always put the interest of our users and their privacy first. For more, read our <a class="r" href="privacypolicy.html">privacy policy.</a></li>
     <br>
     <p><a class="r" href="contactus.html">Contact us</a> is you have any questions, comments or feedback.</p>
				</div>
			</div>
		</div>

<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFour">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						<i class="more-less glyphicon glyphicon-plus"></i>
						FAQs
					</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				<div class="panel-body">
          <br>
          <h3>How do I change my password?</h3>
      <li>Navigate to your profile.</li>
      <li>Click the 'Edit Profile' button.</li>
      <li>Under the 'Info' tab you'll see your email and password listed at the bottom. Simply click on the asterisks (password), enter your old password and create a new one at least 8 characters in length.</li>
      <br>
      <h3>How do I use WeFit?</h3>
      <a href="https//www.youtube.com">Embedded video</a>
      <br>
      <br>
      <h3>How do I sign up to be a health professional?</h3>
      <li>If you have exited out of the popup on the health professionals screen in the app and need to access it again, go to: menu > help & support > professionals > 'Sign up for WeFit Health Professional'.</li>
      <br>
      <h3>How do I block a user</h3>
      <li>Navigate to the users profile of which you want to block.</li>
      <li>Click the more button in the top right of the profile screen</li>
      <li>Click 'Block'</li>
      <li>You will no longer see any content from this user, and they will no longer be able to see your content. This includes direct messaging</li>
      <li>You may unblock a user by navigatin to the menu page > settings > account settings > blocked users.</li>
      <br>
      <p><a class="r" href="contactus.html">Contact us</a> is you have any questions, comments or feedback.</p>
				</div>
			</div>
		</div>

<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFive">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						<i class="more-less glyphicon glyphicon-plus"></i>
						Health Professional
					</a>
				</h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				<div class="panel-body">
          <br>
            <h3>How do I sign up to be a health professional?</h3>
      <li>If you have exited out of the popup on the health professionals screen in the app and need to access it again, go to: menu > help & support > professionals > 'Sign up for WeFit Health Professional'.</li>
      <br>
      <h3>How long do I have to accept/reject a service request?</h3>
      <li>You have approximately 72 hours to accept or reject a service request that is not otherwise scheduled for a specific date & time.</li>
      <li>For example, a counseling session where the user will schedule a specific date & time must be accepted before that specific date & time or else the request will be canceled.</li>
      <li>Users must give at least 12 hours in advance for services requestion a specific date & time. This means that the professional could have less than 72 hours to respond to a service request.</li>
      <li>If 72 hours goes by and a request is neither accpeted or rejected, the service request will be canceled.</li>
      <br>
      <h3>Do I have to be licensed to become a health professional on WeFit?</h3>
      <li>Yes.</li>
      <br>
      <h3>Will other health professional types be accepted soon?</h3>
      <li>Yes.</li>
      <br>
      <h3>How does refunding work?</h3>
      <li>Users can request a refund from the health professional within 3 days after the service is completed. However, the professional may reject your request for a refund. If you still believe that something isn’t as described or purchased, please <a class="r" href="contactus.html">contact us</a>.</li>
      <br>
      <h3>How do I add my bank information and transfer my earnings?</h3>
      <li>On you health professional profile screen, click the 'Dashboard' button.</li>
      <li>On the upper left side of the dashboard screen click 'Add bank info'.</li>
      <li>Once you add your bank account information, you can click 'Transfer Balance' to transfer any money earned from services to the bank account that you added.</li>
      <br>
      <h3>WeFit service fees explained</h3>
      <li>WeFit service fees are charged to both the buyer and the seller of the service.</li>
      <li>WeFit service fees are 10% of the service price for both the buyer and the seller.</li>
      <li>For example, if a service is purchased for $20, the buyer would pay 10% of $20 and the seller would pay 10% of the $20 received from the buyer for that service.</li>
      <li>The WeFit service fee ensures that we can keep our platform up and running for you and all of our other users. We make sure that both the buyer and seller split the fee so that not one party feels at a disadvantage.</li>
      <br>
      <p><a class="r" href="contactus.html">Contact us</a> is you have any questions, comments or feedback.</p>
				</div>
			</div>
		</div>


<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingSix">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
						<i class="more-less glyphicon glyphicon-plus"></i>
						Contact Us
					</a>
				</h4>
			</div>
			<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
				<div class="panel-body2">
					<section>
        <div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                  <form method="post" data-form-title="CONTACT US">
                    <input type="hidden" data-form-email="true">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" required="" placeholder="Name" data-form-field="Name">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" required="" placeholder="Email" data-form-field="Email">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="How can we help you?" placeholder="How can we help you?" rows="7" data-form-field="How can we help you?"></textarea>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-danger">Send</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
				</div>
			</div>
		</div>

	</div><!-- panel-group -->


</div><!-- container -->
