<%# Meta data about the page %>
<% title 'Privacy Policy' %>
<%# Page content %>
<div class="w-50 mx-auto">
	
	<h2><b>Privacy Policy</b></h2>
	<p><i>Last Updated: July 25th, 2019</i></p>
	<h5><b>Greetings!</b></h5>
	
	<p>WeFit Inc. is on a mission to help you discover, connect, and enjoy our Services. Our Services include: WeFit. When you use WeFit Inc, you’ll share information with us. We want to help you understand what information we collect, how we use it, and what you can do about it. Make sure to read our Terms of Use as well. </p>

	
	<h5><b>Types of Information We Collect</b></h5>
	<p>When you sign up, or use WeFit Inc., you give us information voluntarily. This information includes, but is not limited to your: name, email address, phone number, profile photo, phone number, comments, likes, location, photos, and more. If you link your account with any third party services, we also get information from those accounts, such as Facebook. Other types of information we get when you use our services includes: </p>
	<ul>
		<li><b>Usage Information: </b>	We collect information about your activity through our Services. This information could include how you interact with our Services such as </li>

		<li><b>Device Information: </b>We collect information about the devices you use, such as hardware, software, operating systems, device memory, advertising identifiers, language, battery level, time zone, and other identifiers. Information from your device sensors such as accelerometers, gyroscopes, compasses, microphones, and headphone connection are also collected. </li>

		<li><b>Camera and Photos: </b>Some of our Services requires us to collect images and other information from your device’s camera and photos. WeFit Inc. features will be severely limited without access to the camera and photos. </li>

		<li><b>Location Information: </b>While using WeFit Inc. we may collect information regarding your location, and with permission it may be your exact position/location. Methods to collect this includes GPS, wireless networks, cell towers, Wi-Fi access points and previously mentioned phone sensors. </li>

		<li><b> Information Collected by Cookies: </b>We may use cookies and other technologies to collect information about your activity. These technologies used to collect information may collect information to help advertising partners.</li>

		<li><b>Log Information: </b>When you use our website, we collect log information that includes access times, pages viewed, IP address, device information, and usage information.</li>
	</ul>

	<h5><b>How We Use Information</b></h5>
	<p>We use the information we collect to help provide the best Service possible to you. We commit to showing you content that is relevant, interesting and personal. We are able to complete this by using information in the following ways. 1. Identifying you when you use WeFit Inc. 2. Recommending posts, activities, professionals, support groups, and other content that you may like. 3. Responding to your questions, comments, and concerns. 4. It is flat out necessary for WeFit Inc. to collect and use information in order to make our Service relevant and exciting. </p>
	<p>We have a shared vision to deliver a high-quality product, with relevant, interesting, and personal ads in order to generate revenue for WeFit Inc. We may tell our ad partners how their ads are performing as well as how to make them better.</p>
	<p>In addition, we will only use your information with your consent in order to: send you marketing materials by email, text, or push notification, with which you have the option to unsubscribe, identify your location and customize the content tailored to that. </p>


	<h5><b>Information Sharing</b></h5>
	<p>WeFit Inc. may share your information with the following: other users, the general public, our business partners, our affiliates and third parties. We share this information to better the overall Service, or if we believe it is in the best interest of WeFit Inc. and you, the user. We may release this information to third parties if it is necessary to comply with a valid legal process, governmental request, or applicable law, rule, or regulation. Lastly, if WeFit Inc. becomes involved in a merger, asset sale, financing, liquidation, or acquisition of all or some of our business to another company, we may share your information before and after the transaction closes to that company.</p>


	<h5><b>How Long We Keep Your Information</b></h5>
	<p>WeFit Inc. let’s you post written, picture, video, and activity content. The way WeFit Inc. operates, allows this content to be permanently deleted after a short period of time of 48 hours. We store certain information for longer periods of time, such as, your account information (name, email address, etc.), and your location. We also cannot promise that your content will automatically delete after 48 hours, even though we have designed our system to do so. </p>

	
	
	<h5><b>Analytics and Advertising Services</b></h5>
	<p>We may use third-party Service Providers to monitor and analyze the use of our Service. Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.
	</p>
	<p>You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.</p>
	<p>For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page: <a href="http://www.google.com/intl/en/policies/privacy/">http://www.google.com/intl/en/policies/privacy/</a></p>

	
	<h5><b>Payments</b></h5>
	<p>We may provide paid products and/or services within the Service. In that case, we use third-party services for payment processing (e.g. payment processors).
	</p>
	<p>We will not store or collect your payment card details. That information is provided directly to our third-party payment processors whose use of your personal information is governed by their Privacy Policy. These payment processors adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, Mastercard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of payment information.</h2>

	
	<h5><b>Children's Privacy</b></h5>
	<p>Our Service does not address anyone under the age of 18 ("Children").</p>
	<p>We do not knowingly collect personally identifiable information from anyone under the age of 16. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>

	<h5><b>Your Rights</b></h5>
	<p>You have the right to object to our use of your data, and in that case, you may simply not use WeFit Inc., or informally ask us to delete a specific type of data that you do not want us to process anymore. Keep in mind that if you do decide to limit our data collection, WeFit Inc. Services, and enjoyability may be hampered. Please contact us if you do not agree with us processing certain information. </p>

	<h5><b>Contact</b> </h5>
	<p>WeFit Inc. hopes that you enjoy your experience using our Services, and we welcome any questions, comments, concerns, and suggestions. Please contact us at wefit.us/contact </p>
</div>
