<%# Meta data about the page %>
<% title 'Health Professionals' %>
<% meta_tag :description, 'Are you a licensed health professional looking to expand and help more people all while growing your sales? Join WeFit! Register.' %>
<%# Page content %>
<div class="professional-top">
	<h2 class="text-center big-text">Grow your reach and sales with WeFit Health Professional!</h1>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 rounded shadow-sm " >

      <div class="card-header rounded shadow-sm">
        <h4 class="my-0 font-weight-normal">Standard</h4>
      </div>

      <div class="card-body">
        <h1 class="card-title pricing-card-title">$19.99<small class="text-muted">/month</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
        	
          <li>-Interact with up to 20 users per month</li>
          <li>-25 miles radius</li> 
          
        </ul>

        <button class="btn btn-green btn-lg w-50 mt-4" name="Standard" href="#" data-toggle="modal" data-target="#registerModal">Register</button>
      </div>

    </div>

    <div class="card mb-4 shadow-sm rounded ">
      <div class="card-header rounded shadow-sm">
        <h4 class="my-0 font-weight-normal">Plus</h4>
      </div>

      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29.99<small class="text-muted">/month</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>-Interact with an unlimited number of users</li>
          <li>-Rank higher on the professionals page</li>
          <li>-50 miles radius</li>
          
        <button class="btn btn-green btn-lg w-50 mt-4" name="Plus" href="#" data-toggle="modal" data-target="#registerModal">Register</button>
      </div>
    </div>

</div>
<h5 class= "mx-auto col-10 px-100 pb-1 pt-2 text-center">Get your first month completely 	FREE when you sign up before WeFit's launch!</h5>

</div>










<!-- Register modal -->
<div class="modal" tabindex="-1" role="dialog" id="registerModal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content bg-light border shadow">
			 <div class="modal-close col-1">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
            </div>
			<div class="modal-header py-3">
				<h5 class="modal-title mx-auto">Enter Email</h5>
			</div>
			<div class="modal-body text-center">
				<div class="modal-body text-center">
              		<%= render 'layouts/email_form' %>
            	</div>
			</div>
		</div>
	</div>
</div>

<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>

