<%# Meta data about the page %>
<% title 'Terms of Use' %>
<%# Page content %>
<div id="privacy-policy">
	<h2><b>Terms of Use</b></h2>
	<p><i>Last Updated: August 9th, 2019.</i></p>
	<h5><b>Greetings!</b></h5>

	<p>Thank you for your continued interest in WeFit Inc., these Terms of Use (also referred to as “Terms”) govern the relationship between you and WeFit Inc. By using WeFit Inc. you agree to be legally bound by these Terms, and our Privacy Policy. If you do not agree with these Terms, then do not use WeFit Inc.
	</p>


	<h5><b>Using WeFit Inc. </b></h5>

	<p>WeFit Inc. is not intended for anyone under the age of 16 years old, and therefore, they shall not be allowed to create an account. You may only use WeFit if you can legally form a binding contract with WeFit Inc. which is in compliance with these Terms and all other applicable laws. You must always submit accurate and complete information to WeFit Inc. If you are using WeFit Inc. for business, you MUST create either a health professional account, or an ad account. For all other business accounts, you must contact a WeFit Inc. representative directly for approval.  
	</p>

	<h5><b>Our License to You</b></h5>

	<p>WeFit Inc. grants you a limited, non-exclusive, revocable license to access and use our Services. Our Services may not be modified, copied, redistributed, sold, or leased. Additionally, you may not reverse engineer or extract any source code of software from WeFit Inc., unless you have expressed written consent to do so from a certified WeFit Inc. representative. 
	</p>

	<h5><b>Your License to Us</b></h5>

	<p>WeFit Inc. allows you to create, post, and upload content. In doing so, any content that you provide or make available on WeFit Inc. is retained, and owned by you, or whatever ownership rights to the content you had to begin with. You are ultimately, individually responsible for the content that you post to WeFit Inc. By posting your content to WeFit Inc., you are granting us a license to use, display, edit, reproduce, modify, publish, and distribute that content. Inappropriate content such as spam, graphic violence, threats, hate speech, or porn posted to WeFit Inc. will not be tolerated. By submitting feedback to WeFit Inc. on our platform, you allow us to use it without any restriction, or compensation provided to you.
	</p>

	<h5><b>Privacy</b></h5>

	<p>Privacy is very important to us. Check out how we handle all of your information when you use our Services by reading our Privacy Policy.
	</p>

	<h5><b>Security</b></h5>

	<p>WeFit Inc. sincerely values security. While we work hard to secure our platform to the best of our ability, we cannot guarantee that unauthorized third parties won’t be able to overcome our security measures, putting your information at risk. WeFit Inc. asks that you keep your login information secure and make sure to contact WeFit with any suspicious activity with your account or with our platform.
	</p>


	<h5><b>Data Charge</b></h5>

	<p>WeFit Inc. is not responsible for any mobile data charges that may be incurred while using our Services. Check with your service provider before using WeFit Inc. 
	</p>

	<h5><b>Payments & Fees</b></h5>

	<p>WeFit offers a range of paid services throughout its Services such as advertising and health professional subscriptions. Our plans include but are not limited to “Standard” and “Plus” for our health professionals. Our advertising pricing is based off of 2 primary things: impressions and clicks. To see more information about our advertising pricing, see our Ad Manager, and then navigate to a checkout with your requested ad budget. 
	</p>
	<p>Payment pricing may include taxes or fees in which you are ultimately responsible for, so pay attention to the details of each transaction before you complete it.
	</p>
	<p>We accept payments from credit cards and debit cards from most major banks, please see your payment form to see if your method is covered.
	</p>
	<p>Health professional subscription periods are automatically renewed monthly, unless canceled at least 14 days prior to beginning of the next period. The only valid way to cancel your account, or subscriptions is to email a representative at support@wefit.us or see your account settings page. You are responsible for subscription fees for your entire selected period.
	</p>
	<p>We do NOT accept refunds 
	</p>
	<p>We reserve the right to deactivate your subscription or access to the Services for failure to pay the fees, or failure to abide by our Terms and Policies. 
	</p>
	<p>All transactions are currently shown in U.S. Dollars.
	</p>
	<p>If you participate in the free trial for any of the Health Professional subscriptions, you must cancel by the end of your term to avoid incurring any additional charges. If you do not cancel your subscription, you authorize us to charge your credit card the full cost of your subscription plan. You will NOT receive a notice from WeFit when your trial period is about to end or has ended. 
	</p>
	<p>WeFit reserves the right to modify, cancel or limit the free trial period at any time. In the case that we feel you are abusing your powers with our advertising or subscription services; we reserve the right to terminate your account and privileges. 
	</p>
	<p>We use Stripe as our payment processor, and any questions or information that we may not be able to legally provide, there is a chance that a Stripe representative will have more details. We are not responsible for the handling of your payment information.
	</p>
	<p>You agree that we may communicate with you electronically with any important information regarding your payments or billing. 
	</p>
	<p>You have a duty to notify us of any unauthorized or problematic transactions that take place within 30 days, or else all claims against us will be waived. 
	</p>
	<p>You are responsible for any transactions that result in an overdraft fee from your bank or payment provider. 
	</p>
	<p>Ultimately you authorize WeFit Inc. to charge your payment method for any products or services that may be accrued in the time that you use our platform. 
	</p>
	<p>If you cancel your credit or debit card, please update your payment information in WeFit as soon as possible. You are responsible for any chargeback fees.
	</p>
	
	<h5><b>Third Party Links, Sites, and Services</b></h5>

	<p>WeFit Inc. may contain links to third party websites, advertisers, services, or special offers that are not owned/controlled by WeFit Inc. WeFit Inc. is not responsible or liable for a third party’s terms or conditions.
	</p>

	<h5> <b>Termination </b></h5>

	<p>WeFit Inc. may suspend or terminate your right to access and use WeFit Inc. for any reason without advanced notice. WeFit Inc., reserves the right to refuse services to anyone, but will provide appropriate reasoning behind our decision. 
	</p>

	<h5> <b>Prohibited Use</b></h5>

	<p>In using WeFit Inc., you agree: not to send any unlawful, infringing, harmful, defamatory, threatening, hateful, or otherwise inappropriate material of any kind, misrepresent your identity or affiliation in any way, gain unauthorized access to WeFit Inc., other users’ accounts, names, personally identifiable information or other information, post, transmit or otherwise make available any virus, worm, spyware, or any other computer code, file or program that may or is intended to damage or hijack the operation of any hardware, software, or telecommunications equipment.  
	</p>


	<h5><b>Indemnity</b></h5>

	<p>If WeFit Inc. is sued or held legally responsible because of something that you or your business did on WeFit Inc., you agree to indemnify and hold harmless WeFit Inc., and our affiliates from any claims, suits, disputes, liabilities, damages, losses, costs, and expenses. 
	</p>


	<h5><b>Disclaimer </b></h5>

	<p>WeFit Inc. Services and content is provided “as-is” without warranty of any kind whether express or implied. WeFit Inc. specifically disclaims any and all warranties and conditions of merchantability, fitness for a particular purpose, and non-infringement, and any warranties arising out of course of dealing or usage of trade. WeFit Inc. takes no responsibility and assumes no liability for any content that you or any other person or third-party posts, sends, creates, or uploads using our Services. You understand and agree that you may be exposed to content that is inaccurate, offensive, objectionable, inappropriate for children, or otherwise unsuited to your purpose, none of which WeFit Inc. will be responsible for. 
	</p>


	<h5><b>Limitation of Liability </b></h5>

	<p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, WEFIT INC. AND OUR MANAGING MEMBERS, SHAREHOLDERS, EMPLOYEES, AFFILIATES, LICENSORS, AGENTS, AND SUPPLIERS WILL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, OR MULTIPLE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM: (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (B) THE CONDUCT OR CONTENT OF OTHER USERS OR THIRD PARTIES ON OR THROUGH THE SERVICES; OR (C) UNAUTHORIZED ACCESS, USE, OR ALTERATION OF YOUR CONTENT, EVEN IF WEFIT INC. HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT WILL WEFIT INC.’S AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES EXCEED THE GREATER OF $100 USD OR THE AMOUNT YOU PAID WEFIT INC., IF ANY, IN THE LAST 12 MONTHS.
	 </p>


	<h5><b>Arbitration</b></h5>

	<p>For any dispute you have with WeFit Inc., you agree to first contact us and try to resolve the dispute with us informally. If we need to contact you, we will do so at the email address attached to your WeFit Inc. account. If we are not able to come to a resolution informally, we each agree to resolve any claim, dispute, or controversy arising out of or in connection with or relating to these Terms though binding arbitration or in small claims court. Arbitration Rules. The Federal Arbitration Act governs the interpretation and enforcement of this dispute-resolution provision. Arbitration will be initiated through the American Arbitration Association (“AAA”) and will be governed by the AAA Consumer Arbitration Rules, available <a href="https://www.adr.org/sites/default/files/Consumer%20Rules.pdf">here</a> as of the date of these Terms, or by calling the AAA at 1-800-778-7879. If the AAA is not available to arbitrate, the parties will select an alternative arbitral forum. The rules of the arbitral forum will govern all aspects of this arbitration, except to the extent those rules conflict with these Terms. The arbitration will be conducted by a single neutral arbitrator. Any claims or disputes where the total amount sought is less than $10,000 USD may be resolved through binding non-appearance-based arbitration, at the option of the party seeking relief. For claims or disputes where the total amount sought is $10,000 USD or more, the right to a hearing will be determined by the arbitral forum’s rules. Any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. Additional Rules for Non-appearance Arbitration. If non-appearance arbitration is elected, the arbitration will be conducted by telephone, online, written submissions, or any combination of the three; the specific manner will be chosen by the party initiating the arbitration. The arbitration will not involve any personal appearance by the parties or witnesses unless the parties mutually agree otherwise. Waiver of Jury Trial. YOU AND SNAP INC. WAIVE ANY CONSTITUTIONAL AND STATUTORY RIGHTS TO GO TO COURT AND HAVE A TRIAL IN FRONT OF A JUDGE OR A JURY. You and Snap Inc. are instead electing to have claims and disputes resolved by arbitration. 
	</p>



	<h5><b>Terms Procedures </b></h5>

	<p>If we make a big change to the Terms, we will let you know. If you do not like the changes that we make, or the new Terms, then please do not continue to use WeFit Inc 
	</p>


	<h5><b>Final Terms </b></h5>

	<p>These terms make up the entire agreement between you and WeFit Inc. and supersede and previous agreements. These Terms do not create or confer any third-party beneficiary rights. If we do not enforce a provision in these Terms, it will not be considered a waiver. We reserve all rights not expressly granted to you.
	</p>


	<h5><b>Contact</b></h5>

	<p>WeFit Inc. hopes that you enjoy your experience using our Services, and we welcome any questions, comments, concerns, and suggestions. Please contact us at wefit.us/contact  
	</p>

</div>
