<% title 'WeFit - Terms & Policies' %>
<% meta_tag :description, 'WeFit is your social network for all things health. See what its like to truly engage in and enjoy your health & wellness.' %>
<% meta_tag :keywords, "health, fitness, wellness, social media, local, health professional, WeFit, social health, healthy together" %>

<div id="helpcenterheader">
<a href="desktop.html"><img class="logo" src="whitelogo.svg" height="50px" width="50px"></a>
<div class="container">Terms & Policies</div>
<!-- Search form -->
<div class="main">
  <!-- Another variation with a button -->
</div>
</div>

<div id="accordion" class="panel-body">
<br>
  <div class="container demo">


	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						<i class="more-less glyphicon glyphicon-plus"></i>
            Terms of Use
          </a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
          <br>
          <p>Thank you for your continued interest in WeFit Inc., these Terms of Use (also referred to as “Terms”) govern the relationship between you and WeFit Inc. By using WeFit Inc. you agree to be legally bound by these Terms, and our Privacy Policy. If you do not agree with these Terms, then do not use WeFit Inc.</p>


 <h5><b>Using WeFit Inc. </b></h5>

 <p>WeFit Inc. is not intended for anyone under the age of 16 years old, and therefore, they shall not be allowed to create an account. You may only use WeFit if you can legally form a binding contract with WeFit Inc. which is in compliance with these Terms and all other applicable laws. You must always submit accurate and complete information to WeFit Inc. If you are using WeFit Inc. for business, you MUST create either a health professional account, or an ad account. For all other business accounts, you must contact a WeFit Inc. representative directly for approval.  </p>

 <h5><b>Our license to you</b></h5>

 <p>WeFit Inc. grants you a limited, non-exclusive, revocable license to access and use our Services. Our Services may not be modified, copied, redistributed, sold, or leased. Additionally, you may not reverse engineer or extract any source code of software from WeFit Inc., unless you have expressed written consent to do so from a certified WeFit Inc. representative. </p>

 <h5><b>Your license to us</b></h5>

 <p>WeFit Inc. allows you to create, post, and upload content. In doing so, any content that you provide or make available on WeFit Inc. is retained, and owned by you, or whatever ownership rights to the content you had to begin with. You are ultimately, individually responsible for the content that you post to WeFit Inc. By posting your content to WeFit Inc., you are granting us a license to use, display, edit, reproduce, modify, publish, and distribute that content. Inappropriate content such as spam, graphic violence, threats, hate speech, or porn posted to WeFit Inc. will not be tolerated. By submitting feedback to WeFit Inc. on our platform, you allow us to use it without any restriction, or compensation provided to you.</p>

 <h5><b>Privacy</b></h5>

 <p>Privacy is very important to us. Check out how we handle all of your information when you use our Services by reading our Privacy Policy.</p>

 <h5><b>Security</b></h5>

 <p>WeFit Inc. sincerely values security. While we work hard to secure our platform to the best of our ability, we cannot guarantee that unauthorized third parties won’t be able to overcome our security measures, putting your information at risk. WeFit Inc. asks that you keep your login information secure and make sure to contact WeFit with any suspicious activity with your account or with our platform.</p>


 <h5><b>Data charge</b></h5>

 <p>WeFit Inc. is not responsible for any mobile data charges that may be incurred while using our Services. Check with your service provider before using WeFit Inc. </p>

 <h5><b>Payments & fees</b></h5>

 <p>WeFit offers a paid service in which users can buy a variety of services from licensed health professionals.</p>
 <p>Payment pricing may include taxes or fees in which you are ultimately responsible for, so pay attention to the details of each transaction before you complete it.</p>
 <p>We accept payments from credit cards and debit cards from most major banks, please see your payment form to see if your method is covered.</p>
 <p>Service fees associated with each transaction shall be 10% of the total cost of the service for both the user and the health professional.</p>
 <p>We reserve the right to deactivate your account or access to the Services for failure to pay the fees, or failure to abide by our Terms and Policies. </p>
 <p>All transactions are currently shown in U.S. Dollars.</p>
 <p>We use Stripe as our payment processor, and any questions or information that we may not be able to legally provide, there is a chance that a Stripe representative will have more information. We are not responsible for the handling of your payment information.</p>
 <p>You agree that we may communicate with you electronically with any important information regarding your payments or billing. </p>
 <p>You have a duty to notify us of any unauthorized or problematic transactions that take place within 30 days, or else all claims against us will be waived. </p>
 <p>You are responsible for any transactions that result in an overdraft fee from your bank or payment provider. </p>
 <p>Ultimately you authorize WeFit Inc. to charge your payment method for any products or services that may be accrued in the time that you use our platform. </p>
 <p>If you cancel your credit or debit card, please update your payment information in WeFit as soon as possible. You are responsible for any chargeback fees.</p>

 <h5><b>Third party links, sites, and services</b></h5>

 <p>WeFit Inc. may contain links to third party websites, advertisers, services, or special offers that are not owned/controlled by WeFit Inc. WeFit Inc. is not responsible or liable for a third party’s terms or conditions.</p>

 <h5> <b>Termination </b></h5>

 <p>WeFit Inc. may suspend or terminate your right to access and use WeFit Inc. for any reason without advanced notice. WeFit Inc., reserves the right to refuse services to anyone, but will provide appropriate reasoning behind our decision. </p>

 <h5> <b>Prohibited use</b></h5>

 <p>In using WeFit Inc., you agree: not to send any unlawful, infringing, harmful, defamatory, threatening, hateful, or otherwise inappropriate material of any kind, misrepresent your identity or affiliation in any way, gain unauthorized access to WeFit Inc., other users’ accounts, names, personally identifiable information or other information, post, transmit or otherwise make available any virus, worm, spyware, or any other computer code, file or program that may or is intended to damage or hijack the operation of any hardware, software, or telecommunications equipment.  </p>


 <h5><b>Indemnity</b></h5>

 <p>If WeFit Inc. is sued or held legally responsible because of something that you or your business did on WeFit Inc., you agree to indemnify and hold harmless WeFit Inc., and our affiliates from any claims, suits, disputes, liabilities, damages, losses, costs, and expenses. </p>


 <h5><b>Disclaimer </b></h5>

 <p>WeFit Inc. Services and content is provided “as-is” without warranty of any kind whether express or implied. WeFit Inc. specifically disclaims any and all warranties and conditions of merchantability, fitness for a particular purpose, and non-infringement, and any warranties arising out of course of dealing or usage of trade. WeFit Inc. takes no responsibility and assumes no liability for any content that you or any other person or third-party posts, sends, creates, or uploads using our Services. You understand and agree that you may be exposed to content that is inaccurate, offensive, objectionable, inappropriate for children, or otherwise unsuited to your purpose, none of which WeFit Inc. will be responsible for. </p>


 <h5><b>Limitation of liability </b></h5>

 <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, WEFIT INC. AND OUR MANAGING MEMBERS, SHAREHOLDERS, EMPLOYEES, AFFILIATES, LICENSORS, AGENTS, AND SUPPLIERS WILL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, OR MULTIPLE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM: (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (B) THE CONDUCT OR CONTENT OF OTHER USERS OR THIRD PARTIES ON OR THROUGH THE SERVICES; OR (C) UNAUTHORIZED ACCESS, USE, OR ALTERATION OF YOUR CONTENT, EVEN IF WEFIT INC. HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT WILL WEFIT INC.’S AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES EXCEED THE GREATER OF $100 USD OR THE AMOUNT YOU PAID WEFIT INC., IF ANY, IN THE LAST 12 MONTHS.
  </p>


 <h5><b>Arbitration</b></h5>

 <p>For any dispute you have with WeFit Inc., you agree to first contact us and try to resolve the dispute with us informally. If we need to contact you, we will do so at the email address attached to your WeFit Inc. account. If we are not able to come to a resolution informally, we each agree to resolve any claim, dispute, or controversy arising out of or in connection with or relating to these Terms though binding arbitration or in small claims court. Arbitration Rules. The Federal Arbitration Act governs the interpretation and enforcement of this dispute-resolution provision. Arbitration will be initiated through the American Arbitration Association (“AAA”) and will be governed by the AAA Consumer Arbitration Rules, available <a href="https://www.adr.org/sites/default/files/Consumer%20Rules.pdf">here</a> as of the date of these Terms, or by calling the AAA at 1-800-778-7879. If the AAA is not available to arbitrate, the parties will select an alternative arbitral forum. The rules of the arbitral forum will govern all aspects of this arbitration, except to the extent those rules conflict with these Terms. The arbitration will be conducted by a single neutral arbitrator. Any claims or disputes where the total amount sought is less than $10,000 USD may be resolved through binding non-appearance-based arbitration, at the option of the party seeking relief. For claims or disputes where the total amount sought is $10,000 USD or more, the right to a hearing will be determined by the arbitral forum’s rules. Any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. Additional Rules for Non-appearance Arbitration. If non-appearance arbitration is elected, the arbitration will be conducted by telephone, online, written submissions, or any combination of the three; the specific manner will be chosen by the party initiating the arbitration. The arbitration will not involve any personal appearance by the parties or witnesses unless the parties mutually agree otherwise. Waiver of Jury Trial. YOU AND WEFIT INC. WAIVE ANY CONSTITUTIONAL AND STATUTORY RIGHTS TO GO TO COURT AND HAVE A TRIAL IN FRONT OF A JUDGE OR A JURY. You and WeFit Inc. are instead electing to have claims and disputes resolved by arbitration. </p>



 <h5><b>Terms procedures </b></h5>

 <p>If we make a big change to the Terms, we will let you know. If you do not like the changes that we make, or the new Terms, then please do not continue to use WeFit Inc
 </p>


 <h5><b>Final terms </b></h5>

 <p>These terms make up the entire agreement between you and WeFit Inc. and supersede and previous agreements. These Terms do not create or confer any third-party beneficiary rights. If we do not enforce a provision in these Terms, it will not be considered a waiver. We reserve all rights not expressly granted to you.</p>


 <h5><b>Contact</b></h5>

 <p>WeFit Inc. hopes that you enjoy your experience using our Services, and we welcome any questions, comments, concerns, and suggestions.</p>

        <br>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<i class="more-less glyphicon glyphicon-plus"></i>
						Privacy Policy
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
<br>
        <h5><b>Greetings!</b></h5>

	<p>WeFit is on a mission to help you connect with and enjoy our Services. Our Services include: WeFit. When you use WeFit, you’ll share information with us. We want to help you understand what information we collect, how we use it, and what you can do about it. Make sure to read our Terms of Use as well. </p>


	<h5><b>Types of information we collect</b></h5>
	<p>When you sign up for or use WeFit, you give us information voluntarily. This information includes, but is not limited to, your: name, email address, phone number, location, photos, and any other information you provide us. If you link your account with any third-party services, we also get information from those accounts, such as Facebook. Other types of information we get when you use our Services include: </p>
	<ul>
		<li><b>Usage information: </b>	We collect information about your activity through our Services. This information could include how you interact with our Services such as: posts you like and interact with, activities you post and attend, professionals you chat with, which ads you watch, and how you communicate with other users. This may include the date and time you interacted with that other user, or which users you classify as friends. </li>

		<li><b>Device information: </b>We collect information about the devices you use, such as hardware, software, operating systems, device memory, advertising identifiers, language, battery level, time zone, and other identifiers. Information from your device sensors such as accelerometers, gyroscopes, compasses, microphones, and headphone connection may also be collected.  </li>

		<li><b>Camera and photos: </b>Some of our Services require us to collect images and other information from your device’s camera and photos. WeFit features will be severely limited without access to the camera and photos.</li>

		<li><b>Location information: </b>While using WeFit, we may collect information regarding your location, and with permission it may be your exact position/location. Methods to collect this includes GPS, wireless networks, cell towers, Wi-Fi access points and previously mentioned phone sensors. Without this, WeFit’s user experience may be severely hindered.  </li>

		<li><b> Information collected by cookies: </b>We may use cookies and other technologies to collect information about your activity. These technologies used to collect information may collect information to help advertising partners.</li>

		<li><b>Log information: </b>When you use our website, we collect log information that includes access times, pages viewed, IP address, device information, and usage information.</li>
	</ul>

	<h5><b>How we use information</b></h5>
	<p>We use the information we collect to help provide the best Service possible to you. We commit to showing you content that is relevant, interesting and personal. We are able to complete this by using information in the following ways. 1. Identifying you when you use WeFit Inc. 2. Recommending posts, activities, professionals, support groups, and other content that you may like. 3. Responding to your questions, comments, and concerns. Lastly, it is flat out necessary for WeFit Inc. to collect and use information in order to make our Service relevant and exciting.  </p>

	<p>We have a shared vision to deliver a high-quality product, with relevant, interesting, and personal ads in order to generate revenue for WeFit Inc. We may tell our ad partners how their ads are performing as well as how to make them better.</p>

	<p>In addition, we will only use your information with your consent in order to: send you marketing materials by email, text, or push notification, (with which you have the option to unsubscribe) identify your location, and customize the content tailored to that.  </p>

	<h5><b>Information sharing</b></h5>
	<p>WeFit Inc. may share your information with the following: other users, the general public, our business partners, our affiliates and third parties. We share this information to better the overall Service, or if we believe it is in the best interest of WeFit Inc. and you, the user. We may release this information to third parties if it is necessary to comply with a valid legal process, governmental request, or applicable law, rule, or regulation. Lastly, if WeFit Inc. becomes involved in a merger, asset sale, financing, liquidation, or acquisition of all or some of our business to another company, we may share your information before and after the transaction closes to that company.</p>

	<h5><b>How long we keep your information</b></h5>
	<p>WeFit lets you post written, picture, video, and activity content. The way WeFit operates allows this content to be permanently deleted after a short period of time of 48 hours. We store certain information for longer periods of time, such as, your account information (name, email address, etc.), and your location. We also cannot promise that your content will automatically delete after 48 hours, even though we have designed our system to do so.  </p>

	<h5><b>Analytics and advertising services</b></h5>
	<p>We may use third-party Service Providers to monitor and analyze the use of our Service. Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.
	</p>

	<p>You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.</p>

	<p>For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page: <a href="http://www.google.com/intl/en/policies/privacy/">http://www.google.com/intl/en/policies/privacy/</a></p>


	<h5><b>Payments</b></h5>
	<p>We may provide paid products and/or services within WeFit. In that case, we use third-party services for payment processing (e.g. payment processors).
	</p>
	<p>We will not store or collect your payment card details. That information is provided directly to our third-party payment processors whose use of your personal information is governed by their Privacy Policy. These payment processors adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, Mastercard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of payment information.</h2>


	<h5><b>Children's privacy</b></h5>
	<p>Our Service does not address anyone under the age of 16 ("Children").</p>
	<p>We do not knowingly collect personally identifiable information from anyone under the age of 16. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.
	</p>

	<h5><b>Your rights</b></h5>
	<p>You have the right to object to our use of your data, and in that case, you may simply not use WeFit. You may informally ask us to delete a specific type of data that you do not want us to process anymore. Keep in mind that if you do decide to limit our data collection, WeFit Inc. Services, and enjoyability may be hampered. Please contact us if you do not agree with us processing certain information.  </p>

	<h5><b>Contact</b> </h5>
	<p>We hope that you enjoy your experience using our Services, and we welcome any questions, comments, concerns, and suggestions.
	</p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<i class="more-less glyphicon glyphicon-plus"></i>
						Cookie Policy
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
          <br>
          <h5><b>What is a cookie?</b></h5>
          <p>A cookie is a small packet of data stored on your device to help websites and apps remember information about you. Cookies help us understand how you use our site and our services better. WeFit Inc. believes that this information allows for a more seamless user experience. Check out our privacy policy to see how we collect and use your information.</p>
 <h5><b>How we use cookies</b></h5>
 <p>We use cookies and similar technologies to give you a better user experience as well as to show you relevant content. These technologies also help protect WeFit Inc. and its’ users. We may use these technologies to store and remember information about you, and ultimately use it in a way to optimize our website/mobile app for your experience. This information may be shared with outside organizations, such as advertisers, to help ensure an effective marketing campaign that allows you, the user, to be able to see more relevant ads.</p>
 <h5><b>Controlling cookies</b></h5>
 <p>In order to effectively eliminate our ability to use cookies to help better your user experience, you can follow the instructions provided by the website browser you are using. It is typically located in the help, tools, or edit functions. Please know that if you do decide to disable your cookies, you may not have full access to our Services and other parts of our Services may not work properly. Your mobile devices uninstall process can be effective in stopping us from collecting any information about you if you do not wish to be a part of the WeFit community, or you just do not want your personal information collected. </p>
 <p>We hope that you enjoy our Services and continue to help us help you.</p>
     <br>
     <p><a class="r" href="contactus.html">Contact us</a> is you have any questions, comments or feedback.</p>
				</div>
			</div>
		</div>

<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFour">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						<i class="more-less glyphicon glyphicon-plus"></i>
						Health Professional Policy
					</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				<div class="panel-body">
          <br>
          <h3>How do I change my password?</h3>
      <li>Navigate to your profile.</li>
      <li>Click the 'Edit Profile' button.</li>
      <li>Under the 'Info' tab you'll see your email and password listed at the bottom. Simply click on the asterisks (password), enter your old password and create a new one at least 8 characters in length.</li>
      <br>
      <h3>How do I use WeFit?</h3>
      <a href="https//www.youtube.com">Embedded video</a>
      <br>
      <br>
      <h3>How do I sign up to be a health professional?</h3>
      <li>If you have exited out of the popup on the health professionals screen in the app and need to access it again, go to: menu > help & support > professionals > 'Sign up for WeFit Health Professional'.</li>
      <br>
      <h3>How do I block a user</h3>
      <li>Navigate to the users profile of which you want to block.</li>
      <li>Click the more button in the top right of the profile screen</li>
      <li>Click 'Block'</li>
      <li>You will no longer see any content from this user, and they will no longer be able to see your content. This includes direct messaging</li>
      <li>You may unblock a user by navigatin to the menu page > settings > account settings > blocked users.</li>
      <br>
      <p><a class="r" href="contactus.html">Contact us</a> is you have any questions, comments or feedback.</p>
				</div>
			</div>
		</div>

<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFive">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						<i class="more-less glyphicon glyphicon-plus"></i>
						Community Guidelines
					</a>
				</h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				<div class="panel-body">
          <br>
          <p> WeFit is a platform that gives many people opportunities at a wholesome community built around health and wellness. We believe in a diverse community that offers support and positivity on a daily basis. We have created these Community Guidelines to reflect that. We know how important it is for our users to feel safe while using our Service, especially in an age of safety and security compromises.</p>
<p>As a member of our community, the following is <b>PROHIBITED</b>:
<ul>
  <li>Harassment</li>
  <li>Bullying</li>
  <li>Threats	</li>
  <li>Harm</li>
  <li>Violence</li>
  <li>Sexually explicit content</li>
  <li>Slander</li>
  <li>Impersonation</li>
  <li>Spam</li>
  <li>Hate speech</li>
  <li>Discrimination</li>
  <li>Terrorism</li>
</ul>
<p>If you are not familiar with these terms, please refer to a Google search definition. We believe that it is unnecessary to expand on how exactly these can be harmful to the community. If you even have to question whether or not something is appropriate, chances are that it is not. WeFit reserves the right to delete any content that we feel violates this policy, along with our other policies. WeFit also reserves the right to terminate your account, and/or notify law enforcement if you violate these community guidelines. We will do our best to fairly enforce these standards and guidelines to ensure a pleasurable user experience. Be smart, have fun, and most importantly build each other up.</p>
      <br>
      <p><a class="r" href="helpcenter.html">Contact us</a> is you have any questions, comments or feedback.</p>
				</div>
			</div>
		</div>

    <div class="panel panel-default">
    			<div class="panel-heading" role="tab" id="headingSix">
    				<h4 class="panel-title">
    					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
    						<i class="more-less glyphicon glyphicon-plus"></i>
    						Brand Guidelines
    					</a>
    				</h4>
    			</div>
    			<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
    				<div class="panel-body">
              <br>
              <p>Download our brand guidelines <a class="r" href="https://docs.google.com/presentation/d/1KW9bOBgumckjbKe6I1nJs2Vk1T3QKVEQeqp2SzD7gA0/edit?usp=sharing">here</a>.</p>
          <br>
          <p><a class="r" href="contactus.html">Contact us</a> is you have any questions, comments or feedback.</p>
    				</div>
    			</div>
    		</div>

	</div><!-- panel-group -->


</div><!-- container -->
