<%# Meta data about the page %>
<% title 'Terms of Use' %>
<%# Page content %>
<<<<<<< HEAD
<div class="w-50 mx-auto">
<h2><b>Terms of Use</b></h2>
<p><i>Last Updated: July 25th, 2019</i></p>
<h5><b>Greetings!</b></h5>

<p>Thank you for your continued interest in WeFit Inc., these Terms of Use (also referred to as “Terms”) govern the relationship between you and WeFit Inc. By using WeFit Inc. you agree to be legally bound by these Terms, and our Privacy Policy. If you do not agree with these Terms, then do not use WeFit Inc. 
</p>


<h5><b>Using WeFit Inc. </b></h5>

<p>WeFit Inc. is not intended for anyone under the age of 16 years old, and therefore, they shall not be allowed to create an account. You may only use WeFit if you can legally form a binding contract with WeFit Inc. which is in compliance with these Terms and all other applicable laws. You must always submit accurate and complete information to WeFit Inc. If you are using WeFit Inc. for business, you MUST create either a health professional account, or an ad account. For all other business accounts, you must contact a WeFit Inc. representative directly for approval. 
</p>

<h5><b>Our License to You</b></h5>

<p>WeFit Inc. grants you a limited, non-exclusive, revocable license to access and use our Services. Our Services may not be modified, copied, redistributed, sold, or leased. Additionally, you may not reverse engineer or extract any source code of software from WeFit Inc., unless you have expressed written consent to do so from a certified WeFit Inc. representative. 
</p>

<h5><b>Your License to Us</b></h5>

<p>WeFit Inc. allows you to create, post, and upload content. In doing so, any content that you provide or make available on WeFit Inc. is retained, and owned by you, or whatever ownership rights to the content you had to begin with. You are ultimately, individually responsible for the content that you post to WeFit Inc. By posting your content to WeFit Inc., you are granting us a license to use, display, edit, reproduce, modify, publish, and distribute that content. Inappropriate content such as spam, graphic violence, threats, hate speech, or porn posted to WeFit Inc. will not be tolerated. By submitting feedback to WeFit Inc. on our platform, you allow us to use it without any restriction, or compensation provided to you. </p>

<h5><b>Privacy</b></h5>

<p>Privacy is very important to us. Check out how we handle all of your information when you use our Services by reading our Privacy Policy. </p>

<h5><b>Security</b></h5>

<p>WeFit Inc. sincerely values security. While we work hard to secure our platform to the best of our ability, we cannot guarantee that unauthorized third parties won’t be able to overcome our security measures, putting your information at risk. WeFit Inc. asks that you keep your login information secure and make sure to contact WeFit with any suspicious activity with your account or with our platform. 
</p>


<h5><b>Data Charge</b></h5>

<p>WeFit Inc. is not responsible for any mobile data charges that may be incurred while using our Services. Check with your service provider before using WeFit Inc</p>

<h5><b>Third Party Links, Sites, and Services</b>
  </h5>
<p>WeFit Inc. may contain links to third party websites, advertisers, services, or special offers that are not owned/controlled by WeFit Inc. WeFit Inc. is not responsible or liable for a third party’s terms or conditions.
  </p>

<h5> <b>Termination </b>
 </h5>
<p> WeFit Inc. may suspend or terminate your right to access and use WeFit Inc. for any reason without advanced notice. WeFit Inc., reserves the right to refuse services to anyone, but will provide appropriate reasoning behind our decision. 
 </p>

<h5> <b>Prohibited Use</b>
 </h5>
<p>In using WeFit Inc., you agree: not to send any unlawful, infringing, harmful, defamatory, threatening, hateful, or otherwise inappropriate material of any kind, misrepresent your identity or affiliation in any way, gain unauthorized access to WeFit Inc., other users’ accounts, names, personally identifiable information or other information, post, transmit or otherwise make available any virus, worm, spyware, or any other computer code, file or program that may or is intended to damage or hijack the operation of any hardware, software, or telecommunications equipment. 
  </p>


<h5><b>Indemnity</b>
  </h5>
<p>If WeFit Inc. is sued or held legally responsible because of something that you or your business did on WeFit Inc., you agree to indemnify and hold harmless WeFit Inc., and our affiliates from any claims, suits, disputes, liabilities, damages, losses, costs, and expenses. 
  </p>


<h5><b>Disclaimer </b>
  </h5>
<p>WeFit Inc. Services and content is provided “as-is” without warranty of any kind whether express or implied. WeFit Inc. specifically disclaims any and all warranties and conditions of merchantability, fitness for a particular purpose, and non-infringement, and any warranties arising out of course of dealing or usage of trade. WeFit Inc. takes no responsibility and assumes no liability for any content that you or any other person or third-party posts, sends, creates, or uploads using our Services. You understand and agree that you may be exposed to content that is inaccurate, offensive, objectionable, inappropriate for children, or otherwise unsuited to your purpose, none of which WeFit Inc. will be responsible for. 
  </p>


<h5><b>Limitation of Liability </b>
  </h5>
<p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, WEFIT INC. AND OUR MANAGING MEMBERS, SHAREHOLDERS, EMPLOYEES, AFFILIATES, LICENSORS, AGENTS, AND SUPPLIERS WILL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, OR MULTIPLE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM: (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (B) THE CONDUCT OR CONTENT OF OTHER USERS OR THIRD PARTIES ON OR THROUGH THE SERVICES; OR (C) UNAUTHORIZED ACCESS, USE, OR ALTERATION OF YOUR CONTENT, EVEN IF WEFIT INC. HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT WILL WEFIT INC.’S AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES EXCEED THE GREATER OF $100 USD OR THE AMOUNT YOU PAID WEFIT INC., IF ANY, IN THE LAST 12 MONTHS.
 </p>


<h5><b>Arbitration </b>
  </h5>
<p>For any dispute you have with WeFit Inc., you agree to first contact us and try to resolve the dispute with us informally. If we need to contact you, we will do so at the email address attached to your WeFit Inc. account. If we are not able to come to a resolution informally, we each agree to resolve any claim, dispute, or controversy arising out of or in connection with or relating to these Terms though binding arbitration or in small claims court. Arbitration Rules. The Federal Arbitration Act governs the interpretation and enforcement of this dispute-resolution provision. Arbitration will be initiated through the American Arbitration Association (“AAA”) and will be governed by the AAA Consumer Arbitration Rules, available here as of the date of these Terms, or by calling the AAA at 1-800-778-7879. If the AAA is not available to arbitrate, the parties will select an alternative arbitral forum. The rules of the arbitral forum will govern all aspects of this arbitration, except to the extent those rules conflict with these Terms. The arbitration will be conducted by a single neutral arbitrator. Any claims or disputes where the total amount sought is less than $10,000 USD may be resolved through binding non-appearance-based arbitration, at the option of the party seeking relief. For claims or disputes where the total amount sought is $10,000 USD or more, the right to a hearing will be determined by the arbitral forum’s rules. Any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. Additional Rules for Non-appearance Arbitration. If non-appearance arbitration is elected, the arbitration will be conducted by telephone, online, written submissions, or any combination of the three; the specific manner will be chosen by the party initiating the arbitration. The arbitration will not involve any personal appearance by the parties or witnesses unless the parties mutually agree otherwise. Waiver of Jury Trial. YOU AND SNAP INC. WAIVE ANY CONSTITUTIONAL AND STATUTORY RIGHTS TO GO TO COURT AND HAVE A TRIAL IN FRONT OF A JUDGE OR A JURY. You and Snap Inc. are instead electing to have claims and disputes resolved by arbitration. 
  </p>



<h5><b>Terms Procedures </b>
  </h5>
<p>If we make a big change to the Terms, we will let you know. If you do not like the changes that we make, or the new Terms, then please do not continue to use WeFit Inc. 
  </p>


<h5><b>Final Terms </b>
  </h5>
<p>These terms make up the entire agreement between you and WeFit Inc. and supersede and previous agreements. These Terms do not create or confer and third-party beneficiary rights. If we do not enforce a provision in these Terms, it will not be considered a waiver. We reserve all rights not expressly granted to you.
  </p>


<h5><b>Contact</b></h5>
<p>WeFit Inc. hopes that you enjoy your experience using our Services, and we welcome any questions, comments, concerns, and suggestions. Please contact us at wefit.us/contact </p>



=======
<div id="privacy-policy">
	<h1>Terms of Use</h1>
	<p>This web page represents our Terms of Service and Sale ("Agreement") regarding our website, located at WeFit.us, and the tools we provide you (the "Website" or the "Service"). It was last posted on July 1st, 2019. The terms, "we" and "our" as used in this Agreement refer to WeFit.</p>

	<p>We may amend this Agreement at any time by posting the amended terms on our Website. We may or may not post notices on the homepage of our Website when such changes occur.</p>

	<p>We refer to this Agreement, our Privacy Policy, and any other terms, rules, or guidelines on our Website collectively as our "Legal Terms." You explicitly and implicitly agree to be bound by our Legal Terms each time you access our Website. If you do not wish to be so bound, please do not use or access our Website.</p>

	<h4>Copyrights and Trademarks</h4>

	<p>Unless otherwise noted, all materials including without limitation, logos, brand names, images, designs, photographs, video clips and written and other materials that appear as part of our Website are copyrights, trademarks, service marks, trade dress and/or other intellectual property whether registered or unregistered ("Intellectual Property") owned, controlled or licensed by WeFit. Our Website as a whole is protected by copyright and trade dress. Nothing on our Website should be construed as granting, by implication, estoppel or otherwise, any license or right to use any Intellectual Property displayed or used on our Website, without the prior written permission of the Intellectual Property owner. WeFit aggressively enforces its intellectual property rights to the fullest extent of the law. The names and logos of WeFit, may not be used in any way, including in advertising or publicity pertaining to distribution of materials on our Website, without prior, written permission from WeFit. WeFit prohibits use of any logo of WeFit or any of its affiliates as part of a link to or from any Website unless WeFit approves such link in advance and in writing. Fair use of WeFit’s Intellectual Property requires proper acknowledgment. Other product and company names mentioned in our Website may be the Intellectual Property of their respective owners.</p>

	<h4>Links to Third-Party Websites</h4>

	<p>Our Website may contain links to Websites owned or operated by parties other than WeFit. Such links are provided for your reference only. WeFit does not monitor or control outside Websites and is not responsible for their content. WeFit’s inclusion of links to an outside Website does not imply any endorsement of the material on our Website or, unless expressly disclosed otherwise, any sponsorship, affiliation or association with its owner, operator or sponsor, nor does WeFit’ inclusion of the links imply that WeFit is authorized to use any trade name, trademark, logo, legal or official seal, or copyrighted symbol that may be reflected in the linked Website.</p>

	<h4>Content Disclaimer</h4>

	<p>Postings on our Website are made at such times as WeFit determines in its discretion. You should not assume that the information contained on our Website has been updated or otherwise contains current information. WeFit does not review past postings to determine whether they remain accurate and information contained in such postings may have been superseded. THE INFORMATION AND MATERIALS IN OUR WEBSITE ARE PROVIDED FOR YOUR REVIEW IN ACCORDANCE WITH THE NOTICES, TERMS AND CONDITIONS SET FORTH HEREIN. THESE MATERIALS ARE NOT GUARANTEED OR REPRESENTED TO BE COMPLETE, CORRECT OR UP TO DATE. THESE MATERIALS MAY BE CHANGED FROM TIME TO TIME WITHOUT NOTICE.</p>

	<h4>Refunds</h4>

	<p>We issue no refunds. </p>

	<h4>No Warranties; Exclusion of Liability; Indemnification</h4>

	<p>OUR WEBSITE IS OPERATED BY WeFit ON AN "AS IS," "AS AVAILABLE" BASIS, WITHOUT REPRESENTATIONS OR WARRANTIES OF ANY KIND. TO THE FULLEST EXTENT PERMITTED BY LAW, WeFit SPECIFICALLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NONINFRINGEMENT FOR OUR WEBSITE AND ANY CONTRACTS AND SERVICES YOU PURCHASE THROUGH IT. WeFit SHALL NOT HAVE ANY LIABILITY OR RESPONSIBILITY FOR ANY ERRORS OR OMISSIONS IN THE CONTENT OF OUR WEBSITE, FOR CONTRACTS OR SERVICES SOLD THROUGH OUR WEBSITE, FOR YOUR ACTION OR INACTION IN CONNECTION WITH OUR WEBSITE OR FOR ANY DAMAGE TO YOUR COMPUTER OR DATA OR ANY OTHER DAMAGE YOU MAY INCUR IN CONNECTION WITH OUR WEBSITE. YOUR USE OF OUR WEBSITE AND ANY CONTRACTS OR SERVICES ARE AT YOUR OWN RISK. IN NO EVENT SHALL EITHER WeFit OR THEIR AGENTS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF OUR WEBSITE, CONTRACTS AND SERVICES PURCHASED THROUGH OUR WEBSITE, THE DELAY OR INABILITY TO USE OUR WEBSITE OR OTHERWISE ARISING IN CONNECTION WITH OUR WEBSITE, CONTRACTS OR RELATED SERVICES, WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES. IN NO EVENT SHALL WeFit’ LIABILITY FOR ANY DAMAGE CLAIM EXCEED THE AMOUNT PAID BY YOU TO WeFit FOR THE TRANSACTION GIVING RISE TO SUCH DAMAGE CLAIM.</p>

	<p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.
	WITHOUT LIMITING THE FOREGOING, WeFit DO NOT REPRESENT OR WARRANT THAT THE INFORMATION ON THE WEBITE IS ACCURATE, COMPLETE, RELIABLE, USEFUL, TIMELY OR CURRENT OR THAT OUR WEBSITE WILL OPERATE WITHOUT INTERRUPTION OR ERROR.
	</p>

	<h4>Indemnification</h4>
>>>>>>> 9e6bd72f0ff7aeab252858ab8ddeec2e9eaf0cef

	<p>You agree to defend, indemnify and hold WeFit harmless from and against any and all claims, damages, costs and expenses, including attorneys' fees, arising from or related to your use of our Website or any Services you purchase through it.</p>
</div>
