<DIV class="w-50 mx-auto">
<h1>PrivacyPolicy</h1>
	<p> Privacy Policy was posted on July 1st, 2019. It governs the privacy terms of our website, located at WeFit.us, and the tools we provide you (the "Website" or the "Service"). Any capitalized terms not defined in our Privacy Policy, have the meaning as specified in our Terms of Service</p>
<h1>Your Privacy</h1>
	<p>Our Website follows all legal requirements to protect your privacy. Our Privacy Policy is a legal statement that explains how we may collect information from you, how we may share your information, and how you can limit our sharing of your information. You will see terms in our Privacy Policy that are capitalized. These terms have meanings as described in the Definitions section below.</p>
<h1>Definitions</h1>
	<ul>
  		<li><b>Personal Data: </b>Personal Data means data about a living individual who can be identified from those data (or from those and other information either in our possession or likely to come into our possession).</li>
  		<li>UsageData: </li>
  		<li>Cookies: </li>
  		<li>Data Controller: </li>
  		<li>Data Processors (or Service Providers): </li>
  		<li>Data Subject: </li>
  		<li>User: </li>
	</ul>
<h1>Information Collection and Use</h1>
<h2>Types of Data Collected</h2>>
<h5>Use of Data</h5>
<h1>Retention of Data</h1>
	<p>We will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.
	We will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of our Service, or we are legally obligated to retain this data for longer time periods.
	</p>
<h1>Transfer of Data</h1>
	<p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.
	We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.
	Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
</p>
<h1>Disclosure of Data</h1>
<h1>Security of Data</h1>
	<p>The security of your data is important to us but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>
<h1>Legal Basis for Processing Personal Data Under General Data Protection Regulation (GDPR)</h1>
<h1>Your Data Protection Rights Under General Data Protection Regulation (GDPR)</h1>
<h1>Service Providers</h1>
	<p>Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.
	These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
	</p>
<h2>Analytics</h2>
<h2>Payments</h2>
	<p>We may provide paid products and/or services within the Service. In that case, we use third-party services for payment processing (e.g. payment processors).
	We will not store or collect your payment card details. That information is provided directly to our third-party payment processors whose use of your personal information is governed by their Privacy Policy. These payment processors adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, Mastercard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of payment information.
	</p>
<h1>Links to Other Sites</h1>
	<p>Our Service may contain links to other sites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
	We have no control over and assume no responsibility for the content, privacy policies or practices of any third-party sites or services.
	</p>
<h1>Children's Privacy</h1>
	<p>Our Service does not address anyone under the age of 18 ("Children").
	We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.
	</p>
<h1>Changes to This Privacy Policy</h1>
	<p>by posting the new Privacy Policy on this page.
	We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.
	You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
	</p>
<h1>Contact Us</h1>
	<p>If you have any questions about this Privacy Policy, please contact us by using the contact information at the link in the footer.</p>
<p>Find me in app/views/privacy_policy/index.html.erb</p>
</DIV>