<div class="about-top">
	<p class="w-50 mx-auto text-white text-center"><b>WeFit</b> is a social platform for all things health. We combine the entertainment of social media, with the encouragement of support groups, and the wisdom of licensed health professionals to create a well rounded user experience for you. Give us a try, it's FREE!</p>
</div>
<div class="about-middle">
	<h2 class="text-center">WeFit Features</h2>
	<div class="row">
		<div class="col">
			<%= inline_svg "about_notes.svg", size: "128px*128px" %>
			<p>Post pictures, videos, written content, or local activity meetups such as hikes, yoga, and gym sessions</p>
		</div>
		<div class="col">
			<%= inline_svg "about_group.svg", size: "128px*128px" %>
			<p>Pick from a wide variety of support groups or create your own to give support, get support, and ask questions.</p>
		</div>
		<div class="col">
			<%= inline_svg "about_heart.svg", size: "128px*128px" %>
			<p>Ask questions, or meet with local, licensed, health professionals ready to help you take your health to th next level</p>
		</div>
	</div>
</div>
