<div class="about-top">
	<p class="w-50 mx-auto text-white text-center"><b>WeFit</b> is a social platform for all things health. We combine the entertainment of social media, with the encouragement of support groups, and the wisdom of licensed health professionals to create a well rounded user experience for you. Give us a try, it's FREE!</p>
</div>
<div class="about-middle">
	<h2 class="text-center">WeFit Features</h2>
	<div class="row">
	</div>
</div>
