<!DOCTYPE html>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KWKKSWG');</script>
		<!-- End Google Tag Manager -->
  	</head>
<body>
	<!-- Google Tag Manager (noscript) -->
    	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWKKSWG"
    	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

<div class="row vertical-center">
	<div class="col-3 px-4 py-4 mx-auto my-auto bg-light border rounded-big shadow" >
		<h3 class="text-center">Contact Us</h3>
		<form>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Name" required>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Email" required>
			</div>
			
			<div class="form-group">
				<textarea name="Text1" input type="text" class="form-control" cols="3" rows="4" placeholder="Message" required></textarea>
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-green btn-lg w-50">Submit</button>
			</div>	
		</form>
	</div>
</div>
<div class="circles">
	<div class="bg-circle bg-circle-1"></div>
	<div class="bg-circle bg-circle-2"></div>
	<div class="bg-circle bg-circle-3"></div>

	<div class="bg-circle bg-circle-4"></div>
	<div class="bg-circle bg-circle-5"></div>

	<div class="bg-circle bg-circle-6"></div>
	<div class="bg-circle bg-circle-7"></div>
</div>
</div>
</body>
</html>