/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */
 //bottom nav variables
 $duration: .2s;
 $distance: 8px;
 $easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

// Include bootstrap styles
@import "bootstrap";
// Include Google font
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap);

// Main body styles
html,body
{
	// Push the footer to the bottom of the page
	height: 100%;
	// Reset margins and padding just in case
	margin: 0; padding: 0;
	// Set the font
	font-family: 'Roboto', sans-serif;
}

p
{
	color: #FFFFFF;
}

pre
{
	font-size: 64px;
	color: #FFFFFF;
}

h1
{
	color: #FFFFFF;
	font-size:60px;
}

span
{
	padding-right:25px;
	padding-top: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.container-fluid
{
	// Make content go edge-to-edge
	padding-left: 0;
	padding-right: 0;
}

//images for left side
img.logo-image {
	padding-left: 45px;
	padding-top: 15px;
}

img.apple-image {
	border-radius: 0%;
	height:51.75px;
	width:150px;
}

//images for right sidenav

.what_is_wefit {
	position:relative;
	text-decoration: none;
	padding: 10px 10px 10px 24px;
	width: 130px;
	height: 36px;
	float: right;
	top: 10px;
	right: 10px;
	border-radius: 50px 50px 50px 50px;
	background-color: #FF0000;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10px;
	transition-duration: 0.5s;

}

.what_is_wefit:hover {
	color: #FFFFFF;
	text-decoration: none;
}

//font size sub title text
p.subtitleText {
	font-size:18px;
}

//side navigation bar
.sidenav {
	height: 100%;
  	width: 0;
  	position: fixed;
  	z-index: 2;
  	top: 0;
  	right: 0;
  	background-color: #111;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: calc(100%-60px);
}

.sidenav a {

	padding: 2px 20px 2px 2px;
  	text-decoration: none;
  	font-size: 16px;
  	color: #FFFFFF;
  	display: block;
  	transition: 0.3s;
	text-align:right;
	text-shadow: -.40px -.40px 0 transparent,
                .40px .40px transparent;

}

.sidenav a:hover {
	text-shadow: -.40px -.40px 0 #FFFFFF,
                  .40px .40px #FFFFFF;
}

.links {
	padding-left: 20px;
	padding-top: 5px;
	text-decoration: none;
	font-size: 30px;
	color: #FFFFFF;
}

.nav-list-box {
	float: right;
	padding-top: 30px;
}

.nav-connect-text {
	padding-top: 290px;
}

.nav-connect-text p {
	padding-left: 55px;
	font-weight: bold;
	font-size: 18px;
}

.social-media-links {
	display: inline;
	padding-left: 25px;
}

.social-media-links img {
	padding: 1px 8px 1px 1px;

}

.social-media-links img:hover {
		transform: scale(1.5);
		transition: all .2s ease-in-out;
}

.wefit-nav-logo {
	position: absolute;
	top: calc(100% - 50px);
	right: 10%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

//end of navbar

//hamburger button
.hamburger {
	float: right;
 	padding: 1rem 0.9375rem;
 	display: inline-block;
 	cursor: pointer;
 	transition-property: opacity, filter;
 	transition-duration: 0.15s;
 	transition-timing-function: linear;
	font: inherit;
 	color: inherit;
  	text-transform: none;
  	background-color: transparent;
  	border: 0;
  	margin: 0;
  	overflow: visible;

}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover{
	opacity: 1;
	background-color: #7c7c7c;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #FFFFFF;
 }

.hamburger-box {
	width: 1.875rem;
	height: 1.25rem;
	display: inline-block;
	position: relative;
	z-index: 5;
}

.hamburger-inner {
  	display: block;
  	top: 50%;
  	margin-top: -0.125rem;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 1.5625rem;
    height: 0.3125rem;
    background-color: #000;
    border-radius: 0.25rem;
    position: absolute;
    transition-property: transform;
    transition-duration: 1.0s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -0.5rem;
}

.hamburger-inner::after {
    bottom: -0.5rem;
}

//Boring styling

.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
	transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
	transform: rotate(45deg);
}
.hamburger--boring.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
}
.hamburger--boring.is-active .hamburger-inner::after {
	bottom: 0;
    transform: rotate(-90deg);
}

//end of hamburger button

//beginning slideshow styling

.slideshowFrame {
	position: relative;
	width: 40%;
	height: auto;
	top: 4rem;
    left: 13rem;
    //transform: translate(-50%, -50%);
    //text-align: center;
	//margin-right: 0px;
	z-index: -1;
}

@media only screen and (min-width: 1920px){
	.slideShowFrame {
		top: 6rem;
		left: 20rem;
	}
}

/* Slideshow container */
.slideshow-container {
  position: absolute;
  width: 11.5rem;
  height: auto;
  top: 9rem;
  left: 15rem;
  z-index: 1;
}

.mySlides{
	z-index: 2;
}

/* Caption text */
.mySlides p {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  //padding-left: 1rem;
  //padding: 8px 12px;
  //position: absolute;
  //top: 1rem;
  //width: 100%;
  text-align:center;
  z-index: 2;
}

/* The dots/bullets/indicators */
.circle-container {
	position: relative;
	//width: 10rem;
	top: 0.1rem;
	z-index: 3;
}

.dot {
  cursor: pointer;
  height: .5rem;
  width: .5rem;
  //margin: 0 2px;
  background-color: #C4C4C4;
  border-radius: 50%;
  display: inline-block;
  padding: 0px;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.slideButtonContainer {
	position: relative;
	z-index: 3;
}

.slideButton{
	position:relative;
    text-decoration: none;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    width: 8.125rem;
    height: 2.25rem;
    top: 0.625rem;
    border-radius: 3.125rem 3.125rem 3.125rem 3.125rem;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 0.75rem;

}

.slideButton:hover {
	text-decoration: none;
	text-decoration-color: #000000;
	color: #FFFFFF;
}

//end of slideshow styling

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0%;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #FF0000;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #FFFFFF;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

//text for the bottom left
p.bottomText {
	font-size:12px;
}

.bottom-left {

	position: absolute;
	top: calc(100% - 40px);
	left: 3%;
}

//bottom right nav

.bottom-nav {
	position: absolute;
	top: 94%;
	left: 4%;
	list-style-type: none;
	margin: 0;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 0.25rem;
	}

}

.bottom-nav a {
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	position: relative;
	text-decoration: none;
	padding-bottom: 8px;

	&:before,
	  &:after {
		  content: '';
		  position: absolute;
		  bottom: 2px;
		  left: 0;
		  right: 0;
		  height: 2px;
		  background-color: #FF0000;
	  }
	  &:before {
		  	opacity: 0;
    		transform: translateY(- $distance);
        	transition: transform 0s $easeOutBack, opacity 0s;
	  }
	  &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
	&:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}

//bottom navigation end

img.wefit-logo {
	position: absolute;
	float: right;
	top: calc(100% - 3.125rem);
	right: 3%;
}


// Colors
.pink         { color: #ff0800 !important; }
.green        { color: #009912 !important; }
.light-blue   { color: #00aeff !important; }

// Background colors
.bg-blue        { background-color: #00aeff !important; }
.bg-dark-grey   { background-color: #333333 !important; }
.bg-white       { background-color: #FFFFFF !important; }
.bg-light-grey  { background-color: #F7F7F7 !important; }
.bg-red 	    { background-color: #ff0800 !important; }
.bg-black       { background-color: #000000 !important; }

.btn-about
{
	width: 25%;
}

// Account settings styles
.nav-blocks
{
	.nav-link
	{
		color: #333;
		text-align: right;
		padding: 1.5rem 1rem;
		&.active
		{
			background-color: #eee;
		}
		&:hover
		{
			color: #555;
		}
	}
}

// About page styles
.about-top
{
	background: #FFFFFF !important;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-top: 2px;
}
.about-middle
{
	background: #FCF8F8 !important;
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}
.about-bottom
{
	padding-top: 4%;
	padding-bottom: 4%;
}


//help center page style
.help-top
{
	background-image: url(help-top.png);
	padding-top: 4%;
	padding-bottom: 5%;
	margin-top: 2px;
}
.help-bottom
{
	background: #FCF8F8  !important;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 10%;
	padding-right: 10%;
}



// Professionals page styles
.professional-top
{
	padding-top: 4%;
	padding-bottom: 4%;
}
#professionals-form
{
	padding: 1rem;
}

.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


.StripeElement
{
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid lightgrey;
  border-radius: 4px;
  background-color: white;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


// Privacy policy/terms of use styles
#privacy-policy
{
	margin-left: 10%;
	margin-right: 10%;
}

// Contact page styles
#contact-page
{
	padding-top: 5% !important;
	margin-left: auto;
	margin-right: auto;
}
