/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body
{
	font-family: 'Didact Gothic', sans-serif;
}
.container-fluid
{
	padding-bottom: 50px;
}
.pink
{
	color: #ff7878 !important;
}
.green
{
	color:#009912 !important;
}
.bg-blue
{
	background-color: #00aeff !important;
}

.light-blue
{
	color: #00aeff !important;
}
.bg-pink
{
	background-color: #ff7878 !important;
}
.bg-dark-grey
{
	background-color: #333 !important;
}

.rounded-big
{
	border-radius: 2.5rem !important;
}
.nounderline
{
	text-decoration: none !important
}
.abs-center-x
{
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}
.btn-green
{
	color: #fff;
	outline-color: #009912;
	background-color: #009912;
}
.btn-green:hover
{
	color: #fff;
	outline-color: #008809;
	background-color: #008809;
}

.modal-header
{
	border-bottom: none;
	border-top: none;
	text-align: center;
	padding-bottom: 0px;
}
.modal-close
{
	text-align: center;
}

.navbar-bottom
{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;

	padding-left: 3rem !important;
	padding-right: 3rem !important;
}

#top-logo
{
	padding-left: 3rem;
}

@media only screen and (max-width: 800px)
{
	#main-page
	{
		padding-top: 80px;
		padding-bottom: 120px;
	}
	.hide-mobile { display: none; }

	#top-logo
	{
		padding-left: 0rem;
	}

	#bottom-icon
	{
		width: 84px;
		height: 25px;
	}
	#tos-bottom
	{
		flex-direction: row;
	}
	#tos-bottom .nav-item
	{
		text-align: center;
		padding-right: 0.5em;
	}
	.navbar-bottom
	{
		padding-left: 0.6rem !important;
		padding-right: 0.6rem !important;
	}
}
