<div class="mobile-logo">
  <%= image_tag 'logo-transparent.svg', size: '150x125', alt: 'logo' %>
</div>
<h1>The healthy social network</h1>
<lottie-player
  src="https://assets3.lottiefiles.com/datafiles/a7kd2uysziSJpYt/data.json" background="transparent" speed="0.5" style="width: 275px; height: 275px; margin: 4vh auto 1vh auto;" loop autoplay >
</lottie-player>
<h3>Coming soon</h3>
<div id="bottom">
  <div class="bottom-logo">
    <%= image_tag "text-transparent-white.svg", alt: "Text Logo" %>
  </div>
  <p>WeFit Inc &copy; <%= Time.current.year %></p>
</div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>