<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      html, body 
      {
        color: #333;
        line-height: 1.2;
        margin: 0 !important;
        padding: 0 !important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .container
      {
        float: none;
        clear: left;
        overflow: auto; 
        margin: 0 auto;
        padding: 1.5rem 0.5rem;
        position: relative;
        max-width: 700px;
      }
      .hero { width: 100%; }
      .text-small  { font-size: 0.75rem; }
      .text-center { text-align: center; }
      .bg-red { background-color: red; }
      .center
      {
        margin: 0 auto;
        display: block;
      }
      .btn-container { text-align: center; }
      .btn
      {
        text-decoration: none;
        color: #fff;
        background-color: #ff0000;
        padding: 0.75em 1.5em;
        display: inline-block;
        border-radius: 0.5rem;
        font-size: 1.2em;
      }
    </style>
  </head>

  <body>
    <section class="hero bg-red">
      <div class="container">
        <%= image_tag 'logo-transperant-1.svg', size: '200x100', class: 'center' %>
      </div>
    </section>
    <%= yield %>
    <section class="hero bg-red">
      <div class="container">
        <%= image_tag 'https://wefit.us/assets/text-transparent-white-8afdb20c6706ec0bce4a0d325b0ea0c616b7f90900a644b37d9fce3fc4538e2a.png', size: '130x40', class: 'center' %>
      </div>
    </section>
  </body>
</html>
